#concept {
	color: @conceptFgColor;
	background-color: @conceptBgColor;

	.sec-title {
		font-size: @headerFontSize;
		line-height: @headerLineHeight;
		color: @titleColor;
	}

	.sec-desc {
		letter-spacing: @softSpacing;
	}

	.sec-comment {
		p {
			letter-spacing: @softSpacing;
			color: @conceptIntroColor;
			font-size: 22px;
			line-height: 42px;
		}
		p.ending {
			letter-spacing: 0.1em;
			font-size: 20px;
			line-height: 20px;
			text-align: right;
		}
	}

	.block {
		margin-top: @vGutterLarge;
	}

	.block-title {
		margin-left: @vGutter;
		color: @conceptHeaderColor;
		font-size: @headerFontSize;
	}

	.block-content {
		margin-top: @vGutter;
	}

	i.icon {
		font-size: @headerFontSize;
	}

}


