#links {
	color: @fbBlue;
	background-color: @heavyBgColor;
	padding-top: @font-size-large;
	padding-bottom: @font-size-large;
	font-size: @font-size-large;
	a {
		color: @white;
	}
	img {
		width: 25px;
		margin-left: 3px;
		margin-right: 3px;
		margin-bottom: 5px;
	}
	span.link {
		margin-left: @padding-base-horizontal;
		margin-right: @padding-base-horizontal;
		font-weight: bold;
	}
}

