/*
Place custom styles here. These styles should loaded after
bootstrap, so they may override it's behavior.
*/

// Application styles
.donetrue {
  text-decoration: line-through;
  color: grey;
}

@gutter: 10px;

.news {
  div.pagetitle {
    padding: 10px;
    font-size: 2em;
  }

  p.desc {
    padding: 10px;
  }
}

