@transparentWhite:       rgba(255, 255, 255, 0.8);
@darkCyan:                      #0f9095;
@cyan:                           #11abb0;
@verySoftCyan:                  #c2f1f5;
@lightGrayishOrange:            #f6f4ef;
@grayishOrange:                 #c0b491;
@mostlyDarkOrange:              #a49360;
@navbarHeight:                     72px;
@navbarWidth:                     100%;
@topestLayer:                      9999;
@vGutter:                          20px;

header, header.header {
	height: @navbarHeight;
	width: @navbarWidth;
	position: fixed;
	top: 0;
	left: 0;
	background: @transparentWhite;
	z-index: @topestLayer;
}

ul#nav {
	min-height:  @navbarHeight;
	li {
		min-height:  @navbarHeight;
		a {
			color: @grayDark;
			line-height: @navbarHeight;
		}
	}

	li.active {
		a {
			color: @grayDark;
			line-height: @navbarHeight;
		}
	}
}

section.block {
	padding-top: 156px;
	padding-bottom: 120px;
}

#intro {
	h1, h2, h3 {
		color: @white;
		font: 76px/78px montserrat-regular, Sans-serif;
		color: #fff;
		text-shadow: 0px 1px 5px rgba(50, 50, 50, .5);
	}
	.slider-text h2 span, .slider-text {
		color: @cyan;
	}
	span.highlight {
		color: @cyan;
		font-size: 110%;
		margin-left: 10px;
		margin-right: 10px;
	}
}


#concept {
	h1, h2, h3 {
		color: @white;
	}
}

#target {
	background-color: @grayLighter;
}

#manifesto {
	background-color: @darkCyan;
	h1, h2, h3 {
		color: @white;
	}

	h3 {
		color: @white;
		font: 30px/42px montserrat-regular, sans-serif;
	}

	p {
		color: @verySoftCyan;
	}

	.entry-header {
		font: 30px/42px montserrat-regular, sans-serif;
	}
	.entry-header {
		position: relative;
		margin-bottom: 6px;
	}
	.author-image img {
		position: absolute;
		top: 12px;
		left: 18px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-moz-border-radius: 100% 100% 100% 100%;
		-webkit-border-radius: 100% 100% 100% 100%;
		-khtml-border-radius: 100% 100% 100% 100%;
		border-radius: 100% 100% 100% 100%;
	}

	.post-meta {
		font: 14px/24px opensans-regular, sans-serif;
		color: #fff;
		margin-top: 12px;
		margin-bottom: 0;
		time {
			font-family: montserrat-bold, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

#challenge {
	background-color: @lightGrayishOrange;
	h1, h2, h3 {
		color: @mostlyDarkOrange;
	}

	h3 {
		font: 30px/42px montserrat-regular, sans-serif;
	}

	p {
		color: @grayLight;
	}

	.entry-header {
		font: 30px/42px montserrat-regular, sans-serif;
	}
	.entry-header {
		position: relative;
		margin-bottom: 6px;
	}
	.author-image img {
		position: absolute;
		top: 12px;
		left: 18px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-moz-border-radius: 100% 100% 100% 100%;
		-webkit-border-radius: 100% 100% 100% 100%;
		-khtml-border-radius: 100% 100% 100% 100%;
		border-radius: 100% 100% 100% 100%;
	}

	.post-meta {
		font: 14px/24px opensans-regular, sans-serif;
		color: #fff;
		margin-top: 12px;
		margin-bottom: 0;
		time {
			font-family: montserrat-bold, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

#contact {
	h1, h2, h3 {
		color: @cyan;
	}

	background-color: #25292D;
	padding-top: 108px;
	padding-bottom: 120px;
	color: #707B89;
	a {
		color: #c4c4c4;
	}
	a:hover, a:focus {
		color: @cyan;
	}
}

#team {
	background: #fff url(/images/patterns/grey.png);
	padding-top: 156px;
	padding-bottom: 144px;
	color: @grayLighter;
	.section-head {
		p {
			color: @grayLight;
		}
	}
	h2, h3 {
		font: 24px/30px montserrat-regular, sans-serif;
		margin-top: 24px;
		margin-bottom: 24px;
		color: #6E6E6E;
	}
	p.introduction {
		color: #999999;
		font-size: 15px;
	}
	.process-wrap {
		.col {
			width: 25%;
		}
		h4 {
			font: 15px/24px montserrat-bold, sans-serif;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	.team-wrap {
		margin-bottom: 24px;

		.col {
			margin-bottom: 24px;
		}
		h5 {
			font: 14px/24px montserrat-bold, sans-serif;
		}
		span {
			position: relative;
			top: -6px;
			font-size: 13px;
			line-height: 18px;
			color: #969696;
		}
		.member-social {
			font-size: 14px;
			font-weight: normal;
			line-height: 18px;
			color: #969696;
			margin: 0;
			padding: 0;

	 		li {
				display: inline-block;
				margin-right: 15px;
	 			a {
					color: #8C8C8C;
	 			}
				a:hover {
					color: #0f9095;
				}
			}
		}
	}
}


// Footer
.footer {
  background-color: whitesmoke;
  padding: 30px 0;
  /* .box-shadow(inset 0 5px 15px rgba(0, 0, 0, .025)); */
}



