@largeScreenWidth:                1200px;
@middleScreenWidth:                800px;
@smallScreenWidth:                 460px;

@maxWidth:                        1180px;


@mainColor:                     #28b4e4;
@mostlyDarkOrange:              #a49360;
@customGray:                    #727272;

@softSpacing:                      0.05em;
@titleColor:                      #868686;

@avatarSize:                       100px;

@heavyFgColor:                    #dadbdc;
@heavyBgColor:                    #404345;

@headerFontSize:                   30px;
@headerLineHeight:                 42px;

@topestLayer:                      9999;

@introTitleFontSize:               76px;
@introTitleLineHeight:             60px;

@introFontFamily:       monsterrat-regular, Sans-serif;

@navbarFrontColor:             @customGray;
@navbarBackColor:             @white;
@navbarActiveFrontColor:           @grayDark;

@navbarHeight:                     72px;
@navbarHeightSmall:                42px;
@navbarWidth:                     100%;
@hGutter:                          20px;
@vGutter:                          20px;
@vGutterLarge:                          42px;

@conceptFgColor:                  #838c95;
@conceptBgColor:                  #FAFAFA;
@conceptHeaderColor:              @mainColor;
@conceptIntroColor:               @grayLight;

@targetFgColor:                  #838c95;
@targetBgColor:                  @heavyBgColor;
@targetHeaderColor:               @heavyFgColor;

@manifestoFgColor:             #7a7a7a;
@manifestoBgColor:             #f6f6f6;
@manifestoMetaColor:             #aaaaaa;

@challengeFgColor:             #626262;
@challengeBgColor:             @white;
@challengeHeaderColor:             @mostlyDarkOrange;

@grayBg:                       #fff url(/images/patterns/grey.png);
@teamBg:                       @grayBg;
@teamFgColor:                  @grayLight;

@contactHeaderColor:           @mainColor;
@contactFgColor:           @heavyFgColor;
@contactBgColor:           @heavyBgColor;

@footerFgColor:            #303030;
@footerBgColor:            @black;


/*--- basic ---*/
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.row { *zoom: 1; }


/* removed gutters */
.row.collapsed .col,
col.collapsed { padding: 0; }

/* If you'll be using IE8, use class ".last" in nested comlumns.
   ":last-child" is not supported in IE8 */
.ie .row .row .last { padding-right: 0; }

.row {
	.row {
		width: auto;
		max-width: 100%
	}
	/*--- desktop ---*/
	max-width: 1008px;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* column widths */
	.one-twelfth,     .g-1     { width: 8.33333%; }
	.one-sixth,       .g-2     { width: 16.66667%; }
	.one-fourth,      .g-3     { width: 25%; }
	.one-third,       .g-4     { width: 33.33333%; }
	.five-twelfths,   .g-5     { width: 41.66667%; }
	.half,            .g-6     { width: 50%; }
	.seven-twelfths,  .g-7     { width: 58.33333%; }
	.two-thirds,      .g-8     { width: 66.66667%; }
	.three-fourths,   .g-9     { width: 75%; }
	.five-sixths,     .g-10    { width: 83.33333%; }
	.eleven-twelfths, .g-11    { width: 91.66667%; }
	.full,            .g-12    { width: 100%; }
	/* Offsets */
	.offset-1    { margin-left: 8.33333%; }
	.offset-2    { margin-left: 16.66667%; }
	.offset-3    { margin-left: 25%; }
	.offset-4    { margin-left: 33.33333%; }
	.offset-5    { margin-left: 41.66667%; }
	.offset-6    { margin-left: 50%; }
	.offset-7    { margin-left: 58.33333%; }
	.offset-8    { margin-left: 66.66667%; }
	.offset-9    { margin-left: 75%; }
	.offset-10   { margin-left: 83.33333%; }
	.offset-11   { margin-left: 91.66667%; }
}


.col {
	position: relative;
	padding: 0 18px;
	float: left;
	/* removed nested columns paddings */
	.col:first-child { padding-left: 0; }
	.col:last-child { padding-right: 0; }
}



/*--- responsive ---*/

@media only screen and (max-width: @smallScreenWidth) {
	.row {
		width: 100%;
	}

	div#nav {
		height: @navbarHeight;
	}

	#nav {
		.items {
			ul.nav {
				li.title{
					color: @mainColor;
					font-size: 20px;
					display: inline-block;
					width: 50%;
					text-align: center;
				}
				li.item {
					display: none;
				}
				li.active {
					display: inline-block;
				}
			}
		}
	}

	body {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		/* Offsets */
		.offset-1    { margin-left: 0%; }
		.offset-2    { margin-left: 0%; }
		.offset-3    { margin-left: 0%; }
		.offset-4    { margin-left: 0%; }
		.offset-5    { margin-left: 0%; }
		.offset-6    { margin-left: 0%; }
		.offset-7    { margin-left: 0%; }
		.offset-8    { margin-left: 0%; }
		.offset-9    { margin-left: 0%; }
		.offset-10   { margin-left: 0%; }
		.offset-11   { margin-left: 0%; }
	}
	.col {
		width: 100% !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 20px;
		/* for nested columns */
		.row {
			width: 100%;
			.col {
				padding: 0;
			}
		}
	}
	section.sec {
		padding-top: @vGutterLarge;
		padding-bottom: @vGutterLarge;
	}

}

@media only screen and (max-width: @largeScreenWidth) and (min-width: @smallScreenWidth){
	.row {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		/* Offsets */
		.offset-1    { margin-left: 0%; }
		.offset-2    { margin-left: 0%; }
		.offset-3    { margin-left: 0%; }
		.offset-4    { margin-left: 0%; }
		.offset-5    { margin-left: 0%; }
		.offset-6    { margin-left: 0%; }
		.offset-7    { margin-left: 0%; }
		.offset-8    { margin-left: 0%; }
		.offset-9    { margin-left: 0%; }
		.offset-10   { margin-left: 0%; }
		.offset-11   { margin-left: 0%; }
	}
	.col {
		width: 100% !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 20px;
		/* for nested columns */
		.row {
			width: 100%;
			.col {
				padding: 0;
			}
		}
	}

	#nav {
		height: @navbarHeight;
		.items {
			ul.nav {
				li.title{
					color: @mainColor;
					font-size: 20px;
					display: inline-block;
					width: 60%;
					text-align: center;
				}
				li.item {
					display: none;
				}
				li.active {
					display: inline-block;
				}
			}
		}
	}


	body {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	section.sec {
		padding-top: 156px;
		padding-bottom: 200px;
	}
}

@media screen and (min-width: @largeScreenWidth) {
	#nav {
		height: @navbarHeight;
		.items {
			ul.nav {
				li.title{
					color: @mainColor;
					font-size: 20px;
					display: inline-block;
					text-align: center;
				}
				li.item {
				}
				li.active {
					display: inline-block;
				}
			}
		}
	}

	.wide {
		.row {
			max-width: @maxWidth;
		}
		.col {
			padding: 0 20px;
		}
	}

	section.sec {
		padding-top: 156px;
		padding-bottom: 200px;
	}
}

@media only screen and (max-width: @smallScreenWidth) {
	section.sec {
		padding-top: @vGutterLarge;
		padding-bottom: @vGutterLarge;
	}
	.sec-intro {
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: @vGutterLarge;
	}
	.sec-title {
		margin-top: @vGutter;
		margin-bottom: @vGutter;
	}
	.sec-desc {
		letter-spacing: @softSpacing;
	}
	.block {
		margin-top: @vGutterLarge;
		margin-bottom: @vGutterLarge;
	}
	.block-title {
		font-size: 20px;
		margin-top: @vGutterLarge;
		margin-bottom: @vGutter;
	}
	.block-content {
	}
}


@media only screen and (max-width: @largeScreenWidth) and (min-width: @smallScreenWidth){
	section.sec {
		padding-top: 126px;
		padding-bottom: 150px;
	}
	.sec-intro {
		text-align: center;
		margin-bottom: @vGutterLarge;
	}
	.sec-title {
		margin-top: @vGutter;
		margin-bottom: @vGutter;
	}
	.sec-desc {
		letter-spacing: @softSpacing;
	}
	.block {
		margin-top: @vGutterLarge;
		margin-bottom: @vGutterLarge;
	}
	.block-title {
		font-size: 20px;
		margin-top: @vGutterLarge;
		margin-bottom: @vGutter;
	}
	.block-content {
	}
}

@media screen and (min-width: @largeScreenWidth) {
	section.sec {
		padding-top: 156px;
		padding-bottom: 200px;
	}
	.sec-intro {
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: @vGutterLarge;
	}
	.sec-title {
		margin-top: @vGutter;
		margin-bottom: @vGutter;
	}
	.sec-desc {
		letter-spacing: @softSpacing;
	}
	.block {
		margin-top: @vGutterLarge;
		margin-bottom: @vGutterLarge;
	}
	.block-title {
		font-size: 20px;
		margin-top: @vGutterLarge;
		margin-bottom: @vGutter;
	}
	.block-content {
	}
}

/* end of responsive */

#nav {
	width: @navbarWidth;
	position: fixed;
	top: 0;
	left: 0;
	background: @navbarBackColor;
	z-index: @topestLayer;
	#nav-wrap ul {
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
	}
	ul.nav {
		display: inline;
		margin-left: 180px;
		li {
			position: relative;
			list-style: none;
			display: inline-block;
			padding: 0 15px;
			a {
				display: block;
				text-decoration: none;
				text-align: left;
				color: @navbarFrontColor;
				line-height: @navbarHeight;
				-webkit-transition: color .2s ease-in-out;
				-moz-transition: color .2s ease-in-out;
				-o-transition: color .2s ease-in-out;
				-ms-transition: color .2s ease-in-out;
				transition: color .2s ease-in-out;
			}
		}
		li.title {
			color: #888888;
		}

		li:hover{
			a {
				color: @navbarActiveFrontColor;
			}
		}

		li.active {
			background-color: @grayLighter;
			a {
				color: @navbarActiveFrontColor;
			}
		}
	}
}


#target {
	letter-spacing: @softSpacing;
	color: @targetFgColor;
	background-color: @targetBgColor;

	.sec-intro {
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: @vGutterLarge;
	}

	.sec-title {
		color: @targetHeaderColor;
	}

	.block-title {
		color: @targetHeaderColor;
		font-size: 20px;
		margin-top: @vGutterLarge;
		margin-bottom: @vGutter;
	}
}

#manifesto {
	background-color: @manifestoBgColor;
	.sec-intro {
		color: @titleColor;
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: @vGutterLarge;
	}

	.sec-title {
		color: @titleColor;
	}

	.block {
		margin-top: @vGutterLarge;
	}

	.block-title {
		color: @titleColor;
		font: 30px/42px montserrat-regular, sans-serif;
	}

	.block-content {
		color: @manifestoFgColor;
		margin-top: @vGutter;
	}
}

#challenge {
	color: @challengeFgColor;
	background-color: @challengeBgColor;

	.sec-intro {
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: @vGutterLarge;
	}

	.sec-title {
		color: @challengeHeaderColor;
		font: 30px/42px montserrat-regular, sans-serif;
	}

	.block {
		margin-top: @vGutterLarge;
	}

	img {
		display: block;
		margin-top: @vGutter;
		margin-bottom: @vGutterLarge;
		margin-right: auto;
		margin-left: auto;
	}

	.block-title {
		color: @challengeHeaderColor;
		font: 30px/42px montserrat-regular, sans-serif;
	}

	.block-content {
		color: @manifestoFgColor;
		margin-top: @vGutter;
	}
}

#contact {
	color: @contactFgColor;
	background-color: @contactBgColor;

	.sec-title {
		color: @contactHeaderColor;
	}
}


a, a:visited {
	color: @mainColor;
}

// Footer
footer, .footer {
	color: @footerFgColor;
	background-color: @footerBgColor;
	padding: 30px 0;
	border-top: 0px;

	.copyright li {
		display: inline-block;
		line-height: 24px;
		margin: 0;
		padding: 0;
	}
	.social-links li {
		display: inline-block;
		line-height: 24px;
		margin-right: 20px;
		padding: 0;
	}
}

