@largeScreenWidth:                1200px;
@middleScreenWidth:                800px;
@smallScreenWidth:                 460px;

@maxWidth:                        1180px;


@mainColor:                     #28b4e4;
@mostlyDarkOrange:              #a49360;
@customGray:                    #727272;

@softSpacing:                      0.05em;
@titleColor:                      #868686;

@avatarSize:                       100px;

@heavyFgColor:                    #dadbdc;
@heavyBgColor:                    #404345;

@headerFontSize:                   30px;
@headerLineHeight:                 42px;

@topestLayer:                      9999;

@introTitleFontSize:               76px;
@introTitleLineHeight:             60px;

@introFontFamily:       monsterrat-regular, Sans-serif;

@navbarFrontColor:             @customGray;
@navbarBackColor:             @white;
@navbarActiveFrontColor:           @grayDark;

@hGutter:                          20px;
@vGutter:                          20px;
@vGutterLarge:                          42px;

@conceptFgColor:                  #838c95;
@conceptBgColor:                  #FAFAFA;
@conceptHeaderColor:              @mainColor;
@conceptIntroColor:               @grayLight;

@targetFgColor:                  #838c95;
@targetBgColor:                  @heavyBgColor;
@targetHeaderColor:               @heavyFgColor;

@manifestoFgColor:             #7a7a7a;
@manifestoBgColor:             #f6f6f6;
@manifestoMetaColor:             #aaaaaa;

@challengeFgColor:             #626262;
@challengeBgColor:             @white;
@challengeHeaderColor:             @mostlyDarkOrange;

@grayBg:                       #fff url(/imgs/grey.png);
@teamBg:                       @grayBg;
@teamFgColor:                  @grayLight;

@contactHeaderColor:           @mainColor;
@contactFgColor:           @heavyFgColor;
@contactBgColor:           @heavyBgColor;

@footerFgColor:            #303030;
@footerBgColor:            @black;

@fbBlue:                   #3B5998;
@fbMediumBlue:             #6D84B4;
@fbLighterBlue:            #AFBDD4;
@fbLightestBlue:           #D8DFEA;


/* for navbar*/
.navbar-logo {
	@elementHeight: 32px;
	padding: ((@navbarHeight - @elementHeight) / 2 - 2) 20px ((@navbarHeight - @elementHeight) / 2 + 2);
	img {
		padding-right: 10px;
	}
}

.highlight {
	color: @mainColor;
}
