#team {
	background: @teamBg;
	color: @teamFgColor;
	.sec-intro {
		text-align: left;
	}

	.sec-title {
		font: 24px/30px montserrat-regular, sans-serif;
		margin-top: @padding-base-vertical;
		margin-bottom: @padding-base-vertical;
	}

	.sec-desc {
		letter-spacing: @softSpacing;
	}

	.member {
		img {
			width: @avatarSize;
			height: @avatarSize;
			-moz-border-radius: 100% 100% 100% 100%;
			-webkit-border-radius: 100% 100% 100% 100%;
			-khtml-border-radius: 100% 100% 100% 100%;
			border-radius: 100% 100% 100% 100%;
		}
		.summary {
			padding: 10px;
		}
		.name {
			margin-right: @padding-base-horizontal;
		}
		.introduction {
			margin-top: @padding-base-vertical;
		}
		.special {
			font-size: @headerFontSize;
			color: @mainColor;
		}
	}
}


@media (max-width: @screen-sm-max) {
	.member {
		img {
			float: left;
		}
		.summary {
			margin-left: @avatarSize;
			min-height: @avatarSize;
		}
	}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.summary {
	}
}
@media (min-width: @screen-lg-min) {
	.summary {
	}
}


