| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->

| <!-- build:js scripts/app.js -->
| <script src="scripts/init.js"></script>
| <script src="scripts/directives.js"></script>
| <script src="scripts/services.js"></script>
| <script src="scripts/controllers.js"></script>
| <!-- endbuild -->

| <!-- new line workaround. need this line to provide new-line-feed otherwise the includee will be drop by gulp-rev-replace.  -->


