// footer
footer.footer
  .row
    .col.g-7
      ul.copyright
        li Copyright © 2013 Kreative
        li
          | Design by
          a(href='http://www.styleshout.com/', title='Styleshout') Styleshout
    .col.g-5.pull-right
      ul.social-links
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-google-plus-sign
        li
          a(href='#')
            i.icon-linkedin
        li
          a(href='#')
            i.icon-skype
        li
          a(href='#')
            i.icon-rss-sign
// Footer End
