// footer
footer.footer
  .row
    .col-sm-2
    .col-sm-8.text-center
        p Template Kreative is designed by
          a(href='http://www.styleshout.com/', title='Styleshout') Styleshout
        p 所有內容皆以 CC-By 3.0 釋出，原始碼可從
          a(target="_", href="https://github.com/walkingice/toufen.net", title="Toufen.Net") github
          | 取得
    .col-sm-2
