// footer
footer.footer
  .row
    .col.g-7
      ul.copyright
        li Template Kreative is designed by
        li
          a(href='http://www.styleshout.com/', title='Styleshout') Styleshout
        li
          | 所有內容皆以 CC-By 3.0 釋出，原始碼可從
        li
          a(target="_", href="https://github.com/walkingice/toufen.net", title="Toufen.Net") github
        li
          | 取得
    .col.g-5.pull-right
      ul.social-links
        li
          a(href="https://www.facebook.com/toufen.net", target="_blank")
            i.icon-facebook
// Footer End
