// Navbar
#nav
  nav#nav-wrap
    .items
      ul.nav
        li
          a(href='#')
            img(alt='', src='imgs/logo_s.png')
        li.title
          span 頭份青年強
        li.item
          a(href='#intro') 介紹
        li.item
          a(href='#concept') 理念
        li.item
          a(href='#target') 目標
        li.item
          a(href='#manifesto') 政見
        li.item
          a(href='#challenge') 困境
        li.item
          a(href='#team') 團隊
        li.item
          a(href='#contact') 聯絡

// Navbar End
