// Navbar
#nav
  nav#nav-wrap
    .items
      ul.nav
        li
          a(href='#')
            img(alt='', src='imgs/logo_s.png')
        li
          a(href='#intro') 介紹
        li
          a(href='#concept') 理念
        li
          a(href='#target') 目標
        li
          a(href='#manifesto') 政見
        li
          a(href='#challenge') 困境
        li
          a(href='#team') 團隊
        li
          a(href='#contact') 聯絡

// Navbar End
