// Header
header.mobile.header
  .row
    .col.full
      .logo
        a(href='#')
          img(alt='', src='images/logo.png')
      nav#nav-wrap
        a.mobile-btn(href='#nav-wrap', title='Show navigation') Show navigation
        a.mobile-btn(href='#', title='Hide navigation') Hide navigation
        ul#nav.nav
          li
            a(href='#intro') 介紹
          li
            a(href='#concept') 理念
          li
            a(href='#target') 目標
          li
            a(href='#manifesto') 政見
          li
            a(href='#challenge') 困境
          li
            a(href='#team') 團隊
          li
            a(href='#contact') 聯絡

// Header End
