// Navbar

#nav
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation" ng-controller="NavbarCtrl")
    .container-fluid
      a.navbar-logo.navbar-brand(href='/#')
        img(alt='', src='imgs/logo_s.png')
        span.highlight 頭份青年強
      .navbar-header
        button.navbar-toggle(ng-click="toggleNavbar()")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-toggle.btn.btn-link(href="/public.html") 資訊公開
      .collapse.navbar-collapse(ng-class="{'in':!navCollapsed}")
        ul.nav.navbar-nav
          li.item(ng-click="toggleNavbar()")
            a(href='/vote_1.html') 苗栗縣長
          li.item(ng-click="toggleNavbar()")
            a(href='/vote_2.html') 頭份鎮長
          li.item(ng-click="toggleNavbar()")
            a(href='/vote_3-3.html') 鎮代第三選區
          li.item(ng-click="toggleNavbar()")
        ul.nav.navbar-nav.navbar-right
          li.item
            a.btn.btn-link(href="/public.html") 資訊公開

// Navbar End
