#public.row.block
  .col-sm-1.col-md-2
  .col-sm-10.col-md-8
    .row
      h1 所有花費
    .row
      .col-sm-12.block
        .table-responsive
          | <!-- -->
          | <!-- recipe:render_cost.js ingredients:['app/data/cost.json'] -->
          | <!-- -->
    .row
      h1 政治獻金
    .row
      .col-sm-12.block
        .table-responsive
          | <!-- -->
          | <!-- recipe:render_contributions.js ingredients:['app/data/contributions.json'] -->
          | <!-- -->
  .col-sm-1.col-md-2

