// Intro Section
section#intro
  #intro-wrap
    .full
      h1
        | 頭份
        span.highlight 動
        | 青年
      p
        | 頭份的青年動起來
      p
        | 政治就像放著會生灰塵的房間，總是要動手掃一掃才會乾淨。你準備把手弄髒了嗎？
// Intro Section End

