// Challenage Section
section#challenge.block
  .row
    .full
      .intro
        h3 困境
        p.desc 在這次選舉中我們面對的困境與挑戰
  // Blog Entries
  .blog-entries
    .row
      .col.g-9.offset-1.entry-title
        h3
          | 目標族群數量有限
    .row
      .col.g-9.offset-1.post-content
        p
          | 根據戶政事務所 103 年 1 月的資料，第三選區的人口數約 32000 人，20 歲到 45 歲佔約 40.4 %，粗估爲 13000 人。
          | 而 99 年的選舉，第三選區最低當選票數爲 1392，考量人口移入因素，最低當選票數估計為 1500 票。
        p
          | 亦即每 10 人我們就必須爭取 1 人的認同，尤其我們無法接觸到所有的 13000 人，因此每一票對我們的確相當重要。
        p
          | 比起傳統勤跑紅白包的做法，焦點放在訴求的選戰方式在地方選舉相當辛苦。
          | 於是我們希望透過網路，盡可能將我們的理念散播出去。
    .row
      .col.g-9.offset-1.entry-title
        h3
          | 返鄉投票意願不足
    .row
      .col.g-9.offset-1.post-content
        p
          | 若說會來到這個網站多半是年輕人，可能有好一部份都在外地工作。雖說選舉是大事，但是年輕人多有不談政治的氛圍，
          | 在外地辛苦工作的同時，舟車勞頓勢必使得投票意願降低
    .row
      .col.g-9.offset-1.entry-title
        h3
          | 資源有限
    .row
      .col.g-9.offset-1.post-content
        p
          | 鎮民代表的規模雖然不大，傳統選戰的花費依然驚人。姑且不論氾濫的買票風氣，
          | 純論造勢宣傳、看板廣告、人事成本、婚喪喜慶，或是競選總部的各種開銷，光是檯面上的花費往往就超過百萬，
          | 若不想找金主欠下人情債，選舉能夠使用的宣傳方式就相當有限。
  // Blog Entries End
// Challenage Section End

