// Manifesto Section
section#manifesto.block
  .row
    .full
      .intro
        h1 政見
        p.desc 讓公民參與政治，讓父母打造孩子的成長環境
  .row.content
    .col.half
      h3 多元教育面向
      p
        | 除了基礎的學科，培育孩童在課本以外的能力也同等重要。
        | 我會爭取體育及藝文活動的經費，將高中大學的社團概念帶入國小。
        | 讓學生在課後能夠經營社團，培育課本以外的專長。
    .col.half
      h3 增加親子設施
      p
        | 家長想要帶小孩出門，不一定要優先考慮外縣市。頭份應該要有地方，讓我們放心地帶孩子去一同嬉戲。
        | 任內我會爭取經費，增加親子設施，讓爸爸媽媽們在飯後散步的同時，讓孩子也有個玩樂的地方。
    .col.half
      h3 強化治安效能
      p
        | 苗栗人口數第一的頭份鎮，為有效管理人口流入所帶來的治安問題，
        | 針對現有監視器，擬爭取經費重新檢視攝影，提升妥善率，並延長留存期限。
      p
    .col.half
      h3 網路溝通管道
      p
        | 透過網路，收集大家的意見，讓頭份鎮的發展更符合大家的需求。
        | 並提供平台整合頭份各項活動資訊，讓民眾輕鬆找到適合自己的活動來參與。
        | 利用科技的力量，讓你的想法被頭份鎮聽見，你也能掌握頭份大小事。
    .col.half
      h3 公開收入與支出
      p
        | 選舉過程本應被公開檢驗。我承諾選舉財務皆會依法登記、申報，並且公開在網路上方便選民檢視。
        | 更進一步，我承諾當選之後，定期公佈個人財產，供鎮民檢視。
// Manifesto Section End

