// Target Section
#target.sec.row
  .col-sm-2
  .col-sm-8
    .row
      .col-sm-12.sec-intro.text-center
        h1.sec-title 參選頭份鎮民代表
        p.sec-desc 黎煥強，這次即將競選頭份鎮民代表
    .row.content
      .col-sm-4
        .block-title 你知道鎮民代表的權責嗎
        p.block-content
          | 多數人對鎮民代表的印象相當模糊，似乎止於請託關說等等的「選民服務」。
          | 實際上鎮民代表就是國會議員在鄉鎮上的縮影，責任在為你把關預算，以及議決公所的提案等等。
      .col-sm-4
        .block-title 為什麼要參選
        p.block-content
          | 除了大家耳熟能詳的選民服務，我們相信真正促進一個地區發展的方法，是在地生活的人，都願意參與事務。
          | 當我們逐漸理解到，要改善生活不是只有自己認真工作就好，還需要外在環境的配合，最實際的方法就是參與政治。
          | 此外在這次選舉我們也會盡可能壓低選舉花費，並公開我們的經驗，吸引更多年輕人一同進入體制來改善社會。
      .col-sm-4
        .block-title 為什麼選鎮民代表
        p.block-content
          | 法律授與鎮民代表的權利，十分貼近我們的理念：將鎮務開放給所有鎮民參與。
          | 而且鎮民代表相當貼近基層，方便與在地的鄉親有所互動。
          | 此外的政治現實面，層級太高的選舉對於純粹熱心又缺乏資源的年輕人來說難以高攀。

  .col-sm-2

