// Manifesto Section
section#manifesto.block
  .row.section-head
    .col.full
      h2 政見
      p.desc Our latest posts and rants.
  // Blog Entries
  .blog-entries
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='Sakura Haruno')
        .col.g-9.offset-1.entry-title
          h3
            | 透過網路聽取意見
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-19') Aug 19, 2013
            span.dauthor By Sakura Haruno
      .row
        .col.g-9.offset-1.post-content
          p
            | 透過網路，收集大家的意見，讓頭份鎮的發展更符合大家的需求
            a.more-link(href='index.html')
              | Read More
              i.icon-angle-right
    // Entry End
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='John Doe')
        .col.g-9.offset-1.entry-title
          h3
            | 頭份更透明
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-09') Aug 9, 2013
            span.dauthor By John Doe
      .row
        .col.g-9.offset-1.post-content
          p
            | 把頭份鎮的計劃，透過網路讓大家知道
            a.more-link(href='index.html')
              | Read More
              i.icon-angle-right
    // Entry End
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='Naruto Uzumaki')
        .col.g-9.offset-1.entry-title
          h3
            | 鎮民代表透明化
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-07') Aug 7, 2013
            span.dauthor By Naruto Uzumaki
      .row
        .col.g-9.offset-1.post-content
          p
            | 讓大家知道鎮民代表做了什麼，我自己最近做的是什麼
            a.more-link(href='index.html')
              | Read More
              i.icon-angle-right
    // Entry End
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='Naruto Uzumaki')
        .col.g-9.offset-1.entry-title
          h3
            | 我也透明化
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-07') Aug 7, 2013
            span.dauthor By Naruto Uzumaki
      .row
        .col.g-9.offset-1.post-content
          p
            | 透明化會先從我自身做起，以身作則，讓大家知道我把錢花在哪裡
          a.more-link(href='index.html')
            | Read More
            i.icon-angle-right
    // Entry End
  // Blog Entries End
// Manifesto Section End

