// About Section
section#about
  .row.section-head
    .col.one-fourth
      h2 About Us
      p.desc This is what we are.
    .col.three-fourths
      p.intro
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        | cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
        | ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
  .row
    .col.full
      h3 Our Work Process.
  .row.process-wrap
    .col
      h4 Explore.
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        | cursus a sit amet mauris. Morbi accumsan ipsum velit.
    .col
      h4 Design.
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        | cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit.
    .col.m-first
      h4 Develop.
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        | cursus a sit amet mauris. Morbi accumsan ipsum velit.
    .col
      h4 Deliver.
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
        | cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit.
  // Process Wrap End
  .row
    .col.full
      h3 Meet The Team.
  // Team Wrap End
  .row.team-wrap
    .col.one-fourth
      img(src='images/team/team-img-01.jpg', alt='')
      .class(member-name='member-name')
        h5 Naruto Uzumaki
        span Director
      ul.member-social
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-google-plus-sign
        li
          a(href='#')
            i.icon-linkedin
        li
          a(href='#')
            i.icon-skype
    .col.one-fourth
      img(src='images/team/team-img-02.jpg', alt='')
      .class(member-name='member-name')
        h5 Sakura Haruno
        span Director
      ul.member-social
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-google-plus-sign
        li
          a(href='#')
            i.icon-linkedin
        li
          a(href='#')
            i.icon-skype
    .col.one-fourth
      img(src='images/team/team-img-03.jpg', alt='')
      .class(member-name='member-name')
        h5 Sasuke Uchiha
        span Senior Web Designer
      ul.member-social
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-google-plus-sign
        li
          a(href='#')
            i.icon-linkedin
        li
          a(href='#')
            i.icon-skype
    .col.one-fourth
      img(src='images/team/team-img-03.jpg', alt='')
      .class(member-name='member-name')
        h5 Shikamaru Nara
        span Web Designer
      ul.member-social
        li
          a(href='#')
            i.icon-facebook
        li
          a(href='#')
            i.icon-twitter
        li
          a(href='#')
            i.icon-google-plus-sign
        li
          a(href='#')
            i.icon-linkedin
        li
          a(href='#')
            i.icon-skype
  // Team Wrap End
  // Testimonials
  .row
    .col.full.section-head
      h2 Testimonials
      p.desc What our clients are saying.
  .row.testimonials
    .col.half
      .client-author
        img(src='images/client-img.png', alt='')
        .name
          p
            | John Doe
            span Designer
      .client-cite
        p
          | Phasellus - ut augue at sapien bibendum bibendum amet magna. Aenean condimentum, lacus sit amet luctus lobortis,
          | enim tellus ultrices elit, amet consequat enim elit noneas.
    .col.half
      .client-author
        img(src='images/client-img.png', alt='')
        .name
          p
            | Michael Smith
            span CEO
      .client-cite
        p
          | Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
          | acus duis in dictumst non integer. Elit, sed scelerisque odio tortor, sed platea dis.
          | Aenean condimentum, lacus sit amet luctus lobortis,
          | enim tellus ultrices elit.
  // Testimonials End
// About Section End

