// Journal Section
section#journal
  .row.section-head
    .col.full
      h2 Journal
      p.desc Our latest posts and rants.
  // Blog Entries
  .blog-entries
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='Sakura Haruno')
        .col.g-9.offset-1.entry-title
          h3
            a(href='blog-single.html') Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin auctor.
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-19') Aug 19, 2013
            span.dauthor By Sakura Haruno
      .row
        .col.g-9.offset-1.post-content
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            a.more-link(href='blog-single.html')
              | Read More
              i.icon-angle-right
    // Entry End
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='John Doe')
        .col.g-9.offset-1.entry-title
          h3
            a(href='blog-single.html') Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed.
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-09') Aug 9, 2013
            span.dauthor By John Doe
      .row
        .col.g-9.offset-1.post-content
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            a.more-link(href='blog-single.html')
              | Read More
              i.icon-angle-right
    // Entry End
    // Entry
    article.entry
      .row.entry-header
        .author-image
          img(src='images/user-03.png', alt='Naruto Uzumaki')
        .col.g-9.offset-1.entry-title
          h3
            a(href='blog-single.html') Quis autem vel esse eum iure reprehenderit qui in ea voluptate velit esse.
        .col.g-2
          p.post-meta
            time.post-date(pubdate='', datetime='2013-08-07') Aug 7, 2013
            span.dauthor By Naruto Uzumaki
      .row
        .col.g-9.offset-1.post-content
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            a.more-link(href='blog-single.html')
              | Read More
              i.icon-angle-right
    // Entry End
  // Blog Entries End
// Journal Section End

