// Manifesto Section
section#manifesto.block
  .row
    .full
      .intro
        h1 政見
        p.desc Our latest posts and rants.
  .row.content
    .col.half
      h3 透過網路聽取意見
      p
        | 透過網路，收集大家的意見，讓頭份鎮的發展更符合大家的需求
    .col.half
      h3 頭份更透明
      p
        | 把頭份鎮的計劃，透過網路讓大家知道
    .col.half
      h3 鎮民代表透明化
      p
        | 讓大家知道鎮民代表做了什麼，我自己最近做的是什麼
    .col.half
      h3 我也透明化
      p
        | 透明化會先從我自身做起，以身作則，讓大家知道我把錢花在哪裡
// Manifesto Section End

