// Contact Section
#contact.sec.row
  .col-sm-2
  .col-sm-8
    h2.text-center.sec-title 聯絡我們
    p.text-center.sec-desc
      | 有任何想法與意見，歡迎到
      a.highlight(href="https://www.facebook.com/toufen.net", target="_blank")
        img.fb(src="/imgs/fb_logo.png")
        | 頭份青年強
      | 告訴我們

  .col-sm-2
