// Contact Section
section#contact.sec
  .row.sec-intro
    .col.full
      h2.sec-title 聯絡我們
      p.sec-desc
        | 有任何想法與意見，歡迎到
        a(href="https://www.facebook.com/toufen.net", target="_blank")
          img.fb(src="/imgs/fb_logo.png")
          | 頭份青年強
        | 告訴我們

