// Conecpt Section
section#concept.block
  .row.section-head
    .col.one-third
      h2 理念
      p.desc 我們的理念
    .col.two-thirds
      .intro
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
  .row
    .services-wrapper
      .col
        h2
          i.icon-jpy
          | 降低經費
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et molestias iusto odio dignissimos.
      .col
        h2
          i.icon-eye-open
          | 透明化
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.m-first
        h2
          i.icon-retweet
          | 溝通橋樑
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et molestias quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.first
        h2
          i.icon-globe
          | Web Development
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio molestias dignissimos.
      .col.m-first
        h2
          i.icon-list-alt
          | User Interface
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col
        h2
          i.icon-print
          | Printing
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti molestias quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
    // Services-Wrapper End
  // end row
// Concept Section End

