// Intro Section
section#intro
  // Flexslider Start
  #intro-slider.flexslider
    ul.slides
      // Slide
      li
        .row
          .col.full
            .slider-text
              h2
                | Hello, we are
                span kreative
                | . We specialize in branding, websites and photography.
              p
                | Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
                | enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
      // Slide
      li
        .row
          .col.full
            .slider-text
              h2
                | Take a look at some of
                a(href='#portfolio', title='') our works
                | or
                a(href='#contact', title='')
                  | get in
                  | touch
                | to discuss how we can help you.
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                | deleniti eos et accusamus.
  // Flexslider End
// Intro Section End

