// Portfolio Section
#portfolio.row
  .row.section-head
    .col.full
      h2 Portfolio
      p.desc Check out our latest projects.
      p.intro
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
  .row
    // Portfolio Wrapper
    #portfolio-wrapper
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-01')
            img(src='images/portfolio/cosmic-sneakers.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Cosmic Sneakers
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-02')
            img(src='images/portfolio/milk-splash.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Milk Splash
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-03')
            img(src='images/portfolio/eve.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Eve
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-04')
            img(src='images/portfolio/sneaker-splash.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Sneaker Splash
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-05')
            img(src='images/portfolio/judah.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Judah
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-06')
            img(src='images/portfolio/vector-flower.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Vector Flower
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-07')
            img(src='images/portfolio/clock.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Clock
      .col.portfolio-item
        .item-wrap
          a(href='#', data-reveal-id='modal-08')
            img(src='images/portfolio/fields.jpg', alt='')
          .portfolio-item-meta
            h5
              a(href='#') Fields
    // Portfolio Wrapper End
  // End Row
  // Modal Popup
  // modal-01
  #modal-01.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-cosmic-sneakers.jpg', alt='')
    .description-box
      h4 The Cosmic Sneakers
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Branding, Web Design
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-01 End
  // modal-02
  #modal-02.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-milk-splash.jpg', alt='')
    .description-box
      h4 Milk Splash
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Branding, Web Design
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-02 End
  // modal-03
  #modal-03.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-eve.jpg', alt='')
    .description-box
      h4 Eve
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Photography, Branding
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-03 End
  // modal-04
  #modal-04.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-sneaker-splash.jpg', alt='')
    .description-box
      h4 Sneaker Splash
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Photography, Branding
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-04 End
  // modal-05
  #modal-05.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-judah.jpg', alt='')
    .description-box
      h4 Judah
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Photography, Web Design
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-05 End
  // modal-06
  #modal-06.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-vector-flower.jpg', alt='')
    .description-box
      h4 Vector Flower
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Branding, Web Design
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-06 End
  // modal-07
  #modal-07.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-clock.jpg', alt='')
    .description-box
      h4 Clock
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Branding, Web Design
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-07 End
  // modal-08
  #modal-08.reveal-modal
    img.scale-with-grid(src='images/portfolio/modals/m-fields.jpg', alt='')
    .description-box
      h4 Fields
      p
        | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      span.categories
        i.icon-tag
        | Photography
    .link-box
      a(href='http://www.behance.net') Details
      a.close-reveal-modal Close
  // modal-08 End
// Portfolio End

