// Services Section
section#services
  .row.section-head
    .col.one-third
      h2 Services
      p.desc Our list of awesome services.
    .col.two-thirds
      .intro
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
  .row
    .services-wrapper
      .col
        h2
          i.icon-desktop
          | Webdesign
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et molestias iusto odio dignissimos.
      .col
        h2
          i.icon-star
          | Branding
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.m-first
        h2
          i.icon-camera
          | Photography
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et molestias quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.first
        h2
          i.icon-globe
          | Web Development
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio molestias dignissimos.
      .col.m-first
        h2
          i.icon-list-alt
          | User Interface
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col
        h2
          i.icon-print
          | Printing
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti molestias quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
    // Services-Wrapper End
  // end row
// Services Section End

