// Intro Section
section#intro
  // Flexslider Start
  #intro-slider.flexslider
    ul.slides
      // Slide
      li
        .row
          .col.full
            .slider-text
              h1
                | 頭份
                span.highlight 動
                | 青年
              p
                | 頭份的青年動起來
      // Slide
      li
        .row
          .col.full
            .slider-text
              h2
                | Are you
                span.highlight Ready
                | to get your hands
                span.highlight Dirty
                | ?
              p
                | 政治就像放著會生灰塵的房間，總是要動手掃一掃才會乾淨
  // Flexslider End
// Intro Section End

