// Links Section
#links.row
  .text-center
    span.line 邀請您到我們的粉絲團
    span.link.line
      a(href="https://www.facebook.com/toufen.net", target="_blank")
        img(src="/imgs/fb_logo.png")
        | 頭份青年強
    span.line 說出你對頭份的期待

