// Conecpt Section
section#concept.block
  .row.section-head
    .col.one-third
      h2 關心頭份
      p.desc 為年輕人與頭份鎮務搭起橋樑
    .col.two-thirds
      .intro
        p
          | 我們想要為年輕人與頭份的鎮務，搭起一座溝通的橋樑。
          | 最近幾年來隨著人口移入，頭份的年輕人逐漸增多，可是年輕一代的人，對我們頭份的事務似乎大不關心，
          | 最有生產力的一群人與地方事務脫節而漸漸失去認同感，這是不好的事情。

  .row
    .services-wrapper
      .col
        h2
          i.icon-jpy
          | 降低經費
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et molestias iusto odio dignissimos.
      .col
        h2
          i.icon-eye-open
          | 透明化
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.m-first
        h2
          i.icon-retweet
          | 溝通橋樑
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et molestias quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col.first
        h2
          i.icon-globe
          | Web Development
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio molestias dignissimos.
      .col.m-first
        h2
          i.icon-list-alt
          | User Interface
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
      .col
        h2
          i.icon-print
          | Printing
        p
          | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          | deleniti atque corrupti molestias quos dolores et quas molestias excepturi sint occaecati cupiditate.
          | At vero eos et accusamus et iusto odio dignissimos.
    // Services-Wrapper End
  // end row
// Concept Section End

