// Target Section
section#target.block
  .row
    .full
      .intro
        h1 參選頭份鎮民代表
        p 黎煥強，這次即將競選頭份鎮民代表
  .row.content
    .col.one-third
      h4 你知道鎮民代表的權責嗎
      p
        | 多數人對鎮民代表的印象相當模糊，似乎止於請託關說等等的「選民服務」。
        | 實際上鎮民代表就是國會議員在鄉鎮上的縮影，責任在為你把關預算以及議決公所的提案等等。
    .col.one-third
      h4 為什麼要參選
      p
        | 除了大家耳熟能詳的選民服務，我們相信真正促進一個地區發展的方法，是在地生活的人，都願意參與事務。
        | 當我們逐漸理解到，要改善生活不是只有自己認真工作就好，還需要外在環境的配合，最實際的方法就是參與政治。
    .col.one-third
      h4 為什麼選鎮民代表
      p
        | 法律授與鎮民代表的權利，十分貼近我們的理念：將鎮務開放給所有鎮民參與。
        | 而且鎮民代表相當貼近基層，方便與在地的鄉親有所互動。
        | 此外的政治現實面，層級太高的選舉對於純粹熱心又缺乏資源的年輕人來說難以高攀。
// Target Section End

