// Contact Section
section#contact
  .row.section-head
    .col.full
      h2 Contact Us
      p.desc Get in touch with us.
  .row
    .col.g-7
      // Form Start
      form#contactForm(name='contactForm', method='post', action='')
        fieldset
          div
            label(for='contactName')
              | Name
              span.required *
            input#contactName(name='contactName', type='text', size='35', value='')
          div
            label(for='contactEmail')
              | Email
              span.required *
            input#contactEmail(name='contactEmail', type='text', size='35', value='')
          div
            label(for='contactSubject') Subject
            input#contactSubject(name='contactSubject', type='text', size='35', value='')
          div
            label(for='contactMessage')
              | Message
              span.required *
            textarea#contactMessage(name='contactMessage', rows='15', cols='50')
          div
            button.submit Submit
            span#image-loader
              img(src='images/loader.gif', alt='')
      // Form End
      // contact-warning
      #message-warning
      // contact-success
      #message-success
        i.icon-ok
        | Your message was sent, thank you!
        br
    aside.col.g-5
      h3 Contact Information
      p Nascetur augue hac platea enim, egestas pulvinar vutulvinar cum, ac eu.
      p
        | Kreative Design Studio
        br
        | Anystreet Avenue 012
        br
        | State, Anytown
      p
        | Phone: 0 123 456 789 0
        br
        | Email: info [@] kreativedesign.com
      br
      h3 Template Info
      p
        | Kreative is a free website template by
        a(href='http://www.styleshout.com/') styleshout.com
        | . This work is
        | released and licensed under the
        a(href='http://creativecommons.org/licenses/by/3.0/', rel='license')
          | Creative Commons Attribution 3.0 License
        | , which means that you are free to
        | use and modify it for any personal or commercial purpose. All I ask is that you give me credit by including a credit link to
        a(href='http://www.styleshout.com/') my website
        | .
// Contact Section End

