// Intro Section
#intro.row
  #intro-wrap
    .full
      p
        | 青年要敢立志，頭份青年當自強
      h1
        span.highlight 黎煥強
      .block-target
        | 鎮民代表參選人 - 第三選區
      .block-area
        | 成功
        | 建國
        | 蟠桃
        | 後庄
        | 文化
        | 合興
        | 山下
      p.comment
        | 政治就像會生灰塵的房間，總是要動手掃一掃才會乾淨。
        | 我們率先出動，等待您的加入！
// Intro Section End

