// Links Section
section#links.sec
  .row.sec-intro
    .col.full
      .sec-title
        a(href="https://www.facebook.com/toufen.net", target="_blank")
          | 邀請您到我們的粉絲團
          span.link
            img(src="/imgs/fb_logo.png")
            | 頭份青年強
          | 說出你對頭份的期待

