// Conecpt Section
#concept.row.section
  .col-sm-1.col-md-2
  .col-sm-10.col-md-8
    .row
      .col-sm-3.block
        h2.sec-title 我的理念
        p.sec-desc
          | 為年輕人與頭份的鎮務，搭起一座溝通的橋樑，降低討論議題的門檻，讓父母能夠關心孩子成長的環境
      .col-sm-9.block
        .sec-comment
          p
            | 當你問「我家附近未來會有什麼改變」你就能知道。
          p
            | 當你說「這件事這樣做會更好」你的話就能被聽見。
          p
            | 你有權利知悉各項決策，提出想法
          p.ending
            | —  頭份應該要成為這樣的地方。

    .row
      .col-sm-6.block
        .block-title
          i.icon.icon-thumbs-up
          span
            | 孩子成長環境
        p.block-content
          | 身為兩個孩子的爸，我相信每個父母親最希望的就是給孩子好的未來。
          | 不論教育或是環境的改善，都是我們共同努力的方向。
          | 除了以往將訴求託付給民意代表的單行道做法，我更希望讓頭份的家長們一同參與討論，建設出真正適合孩子的環境
      .col-sm-6.block
        .block-title
          i.icon.icon-group
          span
            | 溝通橋樑
        p.block-content
          | 你有權利表達意見。
          | 最近幾年來隨著人口移入，頭份的年輕人逐漸增多。
          | 但是傳統的政治運作方式，讓我們在認真工作之餘，無暇再去關心鄉里。
          | 我們希望透過我們熟悉的網路搭起橋樑，直接對鎮務表達意見
  .col-sm-1.col-md-2

