// Conecpt Section
section#concept.block
  .row.section-head
    .col.one-third
      h2.title 人人參與頭份
      p.desc 我們想要為年輕人與頭份的鎮務，搭起一座溝通的橋樑。
    .col.two-thirds
      .intro
        p
          | 當你問「我家附近未來會有什麼改變」你就能知道。
        p
          | 當你說「這件事這樣做會更好」你的話就能被聽見。
        p
          | 你有權利知悉各項決策，提出想法 —  頭份應該要成為這樣的地方。

  .row
    .content
      .col.m-first
        h2
          i.icon-retweet
          | 溝通橋樑
        p
          | 你有權利表達意見。
          | 最近幾年來隨著人口移入，頭份的年輕人逐漸增多。
          | 但是傳統的政治運作方式，讓我們在認真工作之餘，無暇再去關心鄉里。
          | 我們希望透過我們熟悉的網路搭起橋樑，直接對鎮務表達意見
      .col
        h2
          i.icon-eye-open
          | 透明化
        p
          | 你有權利知道頭份正在發生，或是未來發生的事情。
          | 然而太過艱澀，或是不易取得的資訊，簡直就像不曾存在，你也無法得知。
          | 我們想要解讀頭份鎮的各項資訊，主動呈交給你，讓你知道住家附近的各項事情。
    // Services-Wrapper End
  // end row
// Concept Section End

