!!! 5
html
  head
    title 頭份青年強
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body(data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    include partials/sec_intro
    include partials/sec_concept
    include partials/sec_target
    include partials/sec_manifesto
    include partials/sec_challenge
    include partials/sec_team
    include partials/sec_contact

    include partials/footer
    include common/runtime_js

