!!! 5
html
  head
    title 頭份青年強
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="頭份青年強" property="og:title">
    <meta content="http://toufen.net" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/logo_og.png" property="og:image">
    <meta content="青年要敢立志，頭份青年當自強。我們從地方政治開始實現公民參與政治，著手改變家鄉。我們率先出動，等待您的加入！" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body(data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    include partials/sec_intro
    include partials/sec_links
    include partials/sec_concept
    include partials/sec_target
    include partials/sec_manifesto
    include partials/sec_challenge
    include partials/sec_team
    include partials/sec_contact

    include partials/footer
    include common/runtime_js

