!!! 5
html
  <![endif]
  head
    title Kreative
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body(data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    // Intro Section
    section#intro
      // Flexslider Start
      #intro-slider.flexslider
        ul.slides
          // Slide
          li
            .row
              .col.full
                .slider-text
                  h2
                    | Hello, we are
                    span kreative
                    | . We specialize in branding, websites and photography.
                  p
                    | Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
                    | enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
          // Slide
          li
            .row
              .col.full
                .slider-text
                  h2
                    | Take a look at some of
                    a(href='#portfolio', title='') our works
                    | or
                    a(href='#contact', title='')
                      | get in
                      | touch
                    | to discuss how we can help you.
                  p
                    | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    | deleniti eos et accusamus.
      // Flexslider End
    // Intro Section End
    // Services Section
    section#services
      .row.section-head
        .col.one-third
          h2 Services
          p.desc Our list of awesome services.
        .col.two-thirds
          .intro
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
      .row
        .services-wrapper
          .col
            h2
              i.icon-desktop
              | Webdesign
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et molestias iusto odio dignissimos.
          .col
            h2
              i.icon-star
              | Branding
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio dignissimos.
          .col.m-first
            h2
              i.icon-camera
              | Photography
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et molestias quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio dignissimos.
          .col.first
            h2
              i.icon-globe
              | Web Development
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio molestias dignissimos.
          .col.m-first
            h2
              i.icon-list-alt
              | User Interface
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio dignissimos.
          .col
            h2
              i.icon-print
              | Printing
            p
              | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              | deleniti atque corrupti molestias quos dolores et quas molestias excepturi sint occaecati cupiditate.
              | At vero eos et accusamus et iusto odio dignissimos.
        // Services-Wrapper End
      // end row
    // Services Section End
    // Portfolio Section
    section#portfolio
      .row.section-head
        .col.full
          h2 Portfolio
          p.desc Check out our latest projects.
          p.intro
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
      .row
        // Portfolio Wrapper
        #portfolio-wrapper
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-01')
                img(src='images/portfolio/cosmic-sneakers.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Cosmic Sneakers
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-02')
                img(src='images/portfolio/milk-splash.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Milk Splash
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-03')
                img(src='images/portfolio/eve.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Eve
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-04')
                img(src='images/portfolio/sneaker-splash.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Sneaker Splash
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-05')
                img(src='images/portfolio/judah.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Judah
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-06')
                img(src='images/portfolio/vector-flower.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Vector Flower
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-07')
                img(src='images/portfolio/clock.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Clock
          .col.portfolio-item
            .item-wrap
              a(href='#', data-reveal-id='modal-08')
                img(src='images/portfolio/fields.jpg', alt='')
              .portfolio-item-meta
                h5
                  a(href='#') Fields
        // Portfolio Wrapper End
      // End Row
      // Modal Popup
      // modal-01
      #modal-01.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-cosmic-sneakers.jpg', alt='')
        .description-box
          h4 The Cosmic Sneakers
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Branding, Web Design
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-01 End
      // modal-02
      #modal-02.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-milk-splash.jpg', alt='')
        .description-box
          h4 Milk Splash
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Branding, Web Design
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-02 End
      // modal-03
      #modal-03.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-eve.jpg', alt='')
        .description-box
          h4 Eve
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Photography, Branding
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-03 End
      // modal-04
      #modal-04.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-sneaker-splash.jpg', alt='')
        .description-box
          h4 Sneaker Splash
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Photography, Branding
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-04 End
      // modal-05
      #modal-05.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-judah.jpg', alt='')
        .description-box
          h4 Judah
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Photography, Web Design
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-05 End
      // modal-06
      #modal-06.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-vector-flower.jpg', alt='')
        .description-box
          h4 Vector Flower
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Branding, Web Design
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-06 End
      // modal-07
      #modal-07.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-clock.jpg', alt='')
        .description-box
          h4 Clock
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Branding, Web Design
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-07 End
      // modal-08
      #modal-08.reveal-modal
        img.scale-with-grid(src='images/portfolio/modals/m-fields.jpg', alt='')
        .description-box
          h4 Fields
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
          span.categories
            i.icon-tag
            | Photography
        .link-box
          a(href='http://www.behance.net') Details
          a.close-reveal-modal Close
      // modal-08 End
    // Portfolio End
    // Journal Section
    section#journal
      .row.section-head
        .col.full
          h2 Journal
          p.desc Our latest posts and rants.
      // Blog Entries
      .blog-entries
        // Entry
        article.entry
          .row.entry-header
            .author-image
              img(src='images/user-03.png', alt='Sakura Haruno')
            .col.g-9.offset-1.entry-title
              h3
                a(href='blog-single.html') Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin auctor.
            .col.g-2
              p.post-meta
                time.post-date(pubdate='', datetime='2013-08-19') Aug 19, 2013
                span.dauthor By Sakura Haruno
          .row
            .col.g-9.offset-1.post-content
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                a.more-link(href='blog-single.html')
                  | Read More
                  i.icon-angle-right
        // Entry End
        // Entry
        article.entry
          .row.entry-header
            .author-image
              img(src='images/user-03.png', alt='John Doe')
            .col.g-9.offset-1.entry-title
              h3
                a(href='blog-single.html') Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed.
            .col.g-2
              p.post-meta
                time.post-date(pubdate='', datetime='2013-08-09') Aug 9, 2013
                span.dauthor By John Doe
          .row
            .col.g-9.offset-1.post-content
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                a.more-link(href='blog-single.html')
                  | Read More
                  i.icon-angle-right
        // Entry End
        // Entry
        article.entry
          .row.entry-header
            .author-image
              img(src='images/user-03.png', alt='Naruto Uzumaki')
            .col.g-9.offset-1.entry-title
              h3
                a(href='blog-single.html') Quis autem vel esse eum iure reprehenderit qui in ea voluptate velit esse.
            .col.g-2
              p.post-meta
                time.post-date(pubdate='', datetime='2013-08-07') Aug 7, 2013
                span.dauthor By Naruto Uzumaki
          .row
            .col.g-9.offset-1.post-content
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                | deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
                a.more-link(href='blog-single.html')
                  | Read More
                  i.icon-angle-right
        // Entry End
      // Blog Entries End
    // Journal Section End
    // About Section
    section#about
      .row.section-head
        .col.one-fourth
          h2 About Us
          p.desc This is what we are.
        .col.three-fourths
          p.intro
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            | cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
            | ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
      .row
        .col.full
          h3 Our Work Process.
      .row.process-wrap
        .col
          h4 Explore.
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            | cursus a sit amet mauris. Morbi accumsan ipsum velit.
        .col
          h4 Design.
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            | cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit.
        .col.m-first
          h4 Develop.
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            | cursus a sit amet mauris. Morbi accumsan ipsum velit.
        .col
          h4 Deliver.
          p
            | Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
            | nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
            | cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit.
      // Process Wrap End
      .row
        .col.full
          h3 Meet The Team.
      // Team Wrap End
      .row.team-wrap
        .col.one-fourth
          img(src='images/team/team-img-01.jpg', alt='')
          .class(member-name='member-name')
            h5 Naruto Uzumaki
            span Director
          ul.member-social
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus-sign
            li
              a(href='#')
                i.icon-linkedin
            li
              a(href='#')
                i.icon-skype
        .col.one-fourth
          img(src='images/team/team-img-02.jpg', alt='')
          .class(member-name='member-name')
            h5 Sakura Haruno
            span Director
          ul.member-social
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus-sign
            li
              a(href='#')
                i.icon-linkedin
            li
              a(href='#')
                i.icon-skype
        .col.one-fourth
          img(src='images/team/team-img-03.jpg', alt='')
          .class(member-name='member-name')
            h5 Sasuke Uchiha
            span Senior Web Designer
          ul.member-social
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus-sign
            li
              a(href='#')
                i.icon-linkedin
            li
              a(href='#')
                i.icon-skype
        .col.one-fourth
          img(src='images/team/team-img-03.jpg', alt='')
          .class(member-name='member-name')
            h5 Shikamaru Nara
            span Web Designer
          ul.member-social
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus-sign
            li
              a(href='#')
                i.icon-linkedin
            li
              a(href='#')
                i.icon-skype
      // Team Wrap End
      // Testimonials
      .row
        .col.full.section-head
          h2 Testimonials
          p.desc What our clients are saying.
      .row.testimonials
        .col.half
          .client-author
            img(src='images/client-img.png', alt='')
            .name
              p
                | John Doe
                span Designer
          .client-cite
            p
              | Phasellus - ut augue at sapien bibendum bibendum amet magna. Aenean condimentum, lacus sit amet luctus lobortis,
              | enim tellus ultrices elit, amet consequat enim elit noneas.
        .col.half
          .client-author
            img(src='images/client-img.png', alt='')
            .name
              p
                | Michael Smith
                span CEO
          .client-cite
            p
              | Nascetur augue hac platea enim, egestas pulvinar vut. Pulvinar cum, ac eu, tristie
              | acus duis in dictumst non integer. Elit, sed scelerisque odio tortor, sed platea dis.
              | Aenean condimentum, lacus sit amet luctus lobortis,
              | enim tellus ultrices elit.
      // Testimonials End
    // About Section End
    // Map Section
    section#map
      p.map-error Something went wrong... Unable to load map... Please try to enable javascript
    // Map Section End
    // Contact Section
    section#contact
      .row.section-head
        .col.full
          h2 Contact Us
          p.desc Get in touch with us.
      .row
        .col.g-7
          // Form Start
          form#contactForm(name='contactForm', method='post', action='')
            fieldset
              div
                label(for='contactName')
                  | Name
                  span.required *
                input#contactName(name='contactName', type='text', size='35', value='')
              div
                label(for='contactEmail')
                  | Email
                  span.required *
                input#contactEmail(name='contactEmail', type='text', size='35', value='')
              div
                label(for='contactSubject') Subject
                input#contactSubject(name='contactSubject', type='text', size='35', value='')
              div
                label(for='contactMessage')
                  | Message
                  span.required *
                textarea#contactMessage(name='contactMessage', rows='15', cols='50')
              div
                button.submit Submit
                span#image-loader
                  img(src='images/loader.gif', alt='')
          // Form End
          // contact-warning
          #message-warning
          // contact-success
          #message-success
            i.icon-ok
            | Your message was sent, thank you!
            br
        aside.col.g-5
          h3 Contact Information
          p Nascetur augue hac platea enim, egestas pulvinar vutulvinar cum, ac eu.
          p
            | Kreative Design Studio
            br
            | Anystreet Avenue 012
            br
            | State, Anytown
          p
            | Phone: 0 123 456 789 0
            br
            | Email: info [@] kreativedesign.com
          br
          h3 Template Info
          p
            | Kreative is a free website template by
            a(href='http://www.styleshout.com/') styleshout.com
            | . This work is
            | released and licensed under the
            a(href='http://creativecommons.org/licenses/by/3.0/', rel='license')
              | Creative Commons Attribution 3.0 License
            | , which means that you are free to
            | use and modify it for any personal or commercial purpose. All I ask is that you give me credit by including a credit link to
            a(href='http://www.styleshout.com/') my website
            | .
    // Contact Section End
    // footer
    footer
      .row
        .col.g-7
          ul.copyright
            li Copyright © 2013 Kreative
            li
              | Design by
              a(href='http://www.styleshout.com/', title='Styleshout') Styleshout
        .col.g-5.pull-right
          ul.social-links
            li
              a(href='#')
                i.icon-facebook
            li
              a(href='#')
                i.icon-twitter
            li
              a(href='#')
                i.icon-google-plus-sign
            li
              a(href='#')
                i.icon-linkedin
            li
              a(href='#')
                i.icon-skype
            li
              a(href='#')
                i.icon-rss-sign
    // Footer End

    script(src='/js/vendor.js')
    script(src='/js/partials.js')
    script(src='/js/app.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.0.1/angular-ui-router.min.js')

