doctype html
html
  head
    title 頭份青年強
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="頭份鎮第一選區鎮民代表政見" property="og:title">
    <meta content="http://toufen.net" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/logo_og.png" property="og:image">
    <meta content="頭份鎮第一選區鎮民代表，你知道有哪些候選人嗎？" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body#vote-guide.container-fluid(ng-app="toufen.net" data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    div.row.intro
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.row.text-center
          span.padding-h
            a.btn.btn-info 第一選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-2.html") 第二選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-3.html") 第三選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-4.html") 第四選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-5.html") 第五選區
        div.row.text-center
          h1 2014 苗栗頭份鎮民代表第一選區
          h3.text-info  流東  珊瑚  斗煥  新華  興隆
          div.col-md-offset-3.col-md-6.text-left
          p
            | 我們擷取了選舉公報上的內容供您參考。也歡迎您介紹
            a(href="/vote_3-3.html") 第三選區
            | 的煥強，給朋友認識一下
        div.row.intro-list
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-1-1.png")
            div.text-center.intro-name
              span.number 1
              span 黃源祥
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-1-2.png")
            div.text-center.intro-name
              span.number 2
              span 劉文照
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-1-3.png")
            div.text-center.intro-name
              span.number 3
              span 黃為寬
          div.clearfix.visible-sm.visible-xs
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-1-4.png")
            div.text-center.intro-name
              span.number 4
              span 羅文豐
          div.clearfix.hidden-sm.hidden-xs
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-1-5.png")
            div.text-center.intro-name
              span.number 5
              span 黃宣乾
      div.col-sm-1.col-md-2.block

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-1-1.png")
        div.content
          h1
            span.number 1
            | 黃源祥
          ul
            li 無黨籍
            li 第 19 屆鎮民代表
            li 祥苡股份有限公司總經理
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 配合鎮長施政理念，政策藍圖全力爭取北五里選區之地方基礎建設
                li 理性監督合法鞭策公所預算編列，落實照顧全鎮民之福祉
                li 協助社區協會、班隊、社團之正常祥和發展
                li 弱勢族群、新住民及老人家的關懷照顧
                li 青年學子的教育、休閒運動居家的關心輔導
                li 服務地方上信仰中心寺廟、土地公的發展業務
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-1-2.png")
        div.content
          h1
            span.number 2
            | 劉文照
          ul
            li 中國國民黨
            li 現任鎮民代表
            li 頭份鎮公所國家賠償委員
            li 頭份鎮調解委員
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 為鎮政把關：監督公所行政，確實公所預算執行
                li 為地方謀發展：爭取地方基層建設，為地方社區注入新生命
                li 為鄉親走腳板：廣納民意、為民喉舌，為地方鄉親提供全方位服務
                li 為社區爭福利：保證社區弱勢族群福利，督促公所確實執行
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-1-3.png")
        div.content
          h1
            span.number 3
            | 黃為寬
          ul
            li 中國國民黨
            li 頭份青工會總幹事
            li 亦陞營造有限公司工地主任
            li 台灣營建仲裁協會第十期仲裁人合格
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              建立互助、和諧、舒適家園社區的課題
              ul
                li 不可避免的老人化社區結構，約 7 至 8 人就有一位老人，但如何達到安心家園
                li 政府資訊民眾知多少，不透明的資訊導致民眾權益損失，社會福利、公共建設、環境衛生政策等
                li 居民都想享有舒適的生活環境，社區營造意識抬頭，但社區營造如何做？申請門檻(計劃書)的困難
                li 現有都市計畫內外資源分配的合理性與必要性，資源應用上是否也具輕重性與公平性
              以上課題是為寬積極努力的目標，希望用簡單可行的方式來執行，政見如下：
              ul
                li 推動設立社區家庭支援中心，關懷弱勢老人。希望：社區日間托顧站、愛心社區廚房、老人定期健檢
                li 強化鄰里結構，落實資訊透明，互助關心家園。希望：增加定期鄰里長宣導會議，推動專屬手機程式設置讓各項資訊更快傳遞、結合社區組織推動愛心關懷站
                li 推動各里特色文化，結合美化與環保政策，改善居住品質。希望：推動社區風貌課程，增進優良社區營造協會交流與互動、監督社區營造計劃書之撰寫與申請
                li 積極監督資源分配的合理性與必要性，檢視資源應用的適當性與公平性，並落實資源妥善應用於家園中
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-1-4.png")
        div.content
          h1
            span.number 4
            | 羅文豐
          ul
            li 無黨籍
            li 民皓企業有限公司經理
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 推動長期照顧計畫、提升老人照護居住環境品質
                li 推動路平專案、監督制衡、關懷弱勢權益
                li 為民喉舌、監督鎮政
                li 與其不變，不如改變
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-1-5.png")
        div.content
          h1
            span.number 5
            | 黃宣乾
          ul
            li 民主進步黨
            li 中國時報頭份主任
            li 信德國小家長會長
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 注重社區老人休憩設施及關懷弱勢族群
                li 保證規劃優質的頭份後花園
                li 地方文化特色推展及重視農村再生
          div.comment
            | 圖片取自中選會選舉公報。

      div.col-sm-1.col-md-2.block

    include partials/footer
    include common/vendor_js
    include common/app_js

