doctype html
html
  head
    title 頭份青年強
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="頭份鎮第二選區鎮民代表政見" property="og:title">
    <meta content="http://toufen.net/vote_3-2.html" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/vote_og.png" property="og:image">
    <meta content="頭份鎮第二選區鎮民代表，你知道有哪些候選人嗎？" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body#vote-guide.container-fluid(ng-app="toufen.net" data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    div.row.intro
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.row.text-center
          span.padding-h
            a.btn.btn-default(href="/vote_3-1.html") 第一選區
          span.padding-h
            a.btn.btn-info 第二選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-3.html") 第三選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-4.html") 第四選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-5.html") 第五選區
        div.row.text-center
          h1 2014 苗栗頭份鎮民代表第二選區
          h3.text-info  上埔  土牛  頭份  忠孝  自強
          h3.text-info  仁愛  信義  和平  上興  下興
          div.col-md-offset-3.col-md-6.text-left
            p
              | 地方的選舉需要關心，點擊下載<a href="http://103bulletin.cec.gov.tw/103/%E8%8B%97%E6%A0%97%E7%B8%A3/%E9%84%89%E9%8E%AE%E5%B8%82%E6%B0%91%E4%BB%A3%E8%A1%A8/12-%E9%A0%AD%E4%BB%BD%E9%8E%AE/%E9%A0%AD%E4%BB%BD%E9%8E%AE%E9%8E%AE%E6%B0%91%E4%BB%A3%E8%A1%A8%E7%AC%AC2%E9%81%B8%E5%8D%80.pdf" target="_blank">中選會頭份鎮鎮民代表第二選區選舉公報</a>，
              | 或是查看鄉民製作的<a href="http://k.olc.tw/bulletin/546c3664-ca0c-4d8f-89bb-4187cf91e152/546c3664-ca0c-4d8f-89bb-4187cf91e152.html" target="_blank">選舉黃頁</a>，
              | 先來看看各候選人在公報上面寫的東西
            p
              | 我們擷取了選舉公報上的內容供您參考。也歡迎您介紹
              a(href="/vote_3-3.html") 第三選區
              | 的煥強，給朋友認識一下
        div.row.intro-list
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-2-1.png")
            div.text-center.intro-name
              span.number 1
              span 陳紀榮
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-2-2.png")
            div.text-center.intro-name
              span.number 2
              span 邱秀美
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-2-3.png")
            div.text-center.intro-name
              span.number 3
              span 邱宜松
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-2-4.png")
            div.text-center.intro-name
              span.number 4
              span 溫俊勇
      div.col-sm-1.col-md-2.block

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-2-1.png")
        div.content
          h1
            span.number 1
            | 陳紀榮
          ul
            li 無黨籍
            li 縣議員陳英河助理
            li 聖元光電股份公司產品部經理
            li 祖恒貿易有限公司經理
            li 頭份新光保全業務
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 整治區域排水，徹底有效解決淹水問題
                li 落實照顧身障及中低收入家庭
                li 全鎮各重要路口裝設監視系統，以維護居民居家安全
                li 促進社區總體再造，打造居家環境品質
                li 推動地方公共建設，拓寬對外交通網路
                li 專業問政，絕不圖利，服務鄉親，絕不偷懶
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-2-2.png")
        div.content
          h1
            span.number 2
            | 邱秀美
          ul
            li 無黨籍
            li 現任鎮民代表
            li 上埔社區發展協會理事長
            li 中華民國婦聯青溪頭份分支會主任委員
            li 頭份鎮婦女會理事
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 勤走基層，深入民心
                li 政通人和
                li 歡喜心、甘願作
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-2-3.png")
        div.content
          h1
            span.number 3
            | 邱宜松
          ul
            li 無黨籍
            li 現任第 19 屆鎮民代表
            li 第 15, 16, 17, 18 屆鎮民代表
            li 順堂舊貨行負責人
            li 順坤企業負責人
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 親切服務選區鄉親，捍衛鄉親權益與福利為使命
                li 探求民意，尊重民意，重視民情，一切以民意為依歸
                li 不分派系、不分政黨，全力促進地方團結和諧
                li 爭取地方基層建設、促進繁榮，增加就業機會
                li 爭取社會福利經費，確保老弱婦孺之福祉
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-2-4.png")
        div.content
          h1
            span.number 4
            | 溫俊勇
          ul
            li 無黨籍
            li 現任第 19 屆鎮民代表
            li 頭份社區發展協會理事長
            li 頭份國小家長會會長
            li 臉書(我是頭份人)創辦人
            li 幸福預拌混凝土廠總經理
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 爭取地方實質建設，督導鎮政推動
                li 關懷弱勢族群，爭取社會福利經費
          div.comment
            | 圖片取自中選會選舉公報。

      div.col-sm-1.col-md-2.block

    include partials/footer
    include common/vendor_js
    include common/app_js

