doctype html
html
  head
    title 縣長投給誰
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="苗栗縣長候選人政見" property="og:title">
    <meta content="http://toufen.net/vote_1.html" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/vote_og.png" property="og:image">
    <meta content="苗栗縣長選舉，你知道六位候選人有哪些政見嗎？" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body#vote-guide.container-fluid(ng-app="toufen.net" data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    div.row.intro
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.row.text-center
          h1 2014 苗栗縣長選舉
          div.col-md-offset-3.col-md-6.text-left
            p 除了大家都熟悉的名字，你是否知道這次選舉一共有六位苗栗縣長候選人？我們盡可能地向六位候選人聯絡，尋求親自面談的機會，提出我們的問題，聽取他們對苗栗的想法與願景。
            p
              | 地方的選舉需要關心，點擊下載<a href="http://103bulletin.cec.gov.tw/103/%E8%8B%97%E6%A0%97%E7%B8%A3/%E7%B8%A3%E9%95%B7/%E8%8B%97%E6%A0%97%E7%B8%A3%E7%B8%A3%E9%95%B7.pdf" target="_blank">中選會苗栗縣長選舉公報</a>，
              | 或是查看鄉民製作的<a href="http://k.olc.tw/bulletin/546b0806-f3d8-4476-ad21-2ff0cf91e152/546b0806-f3d8-4476-ad21-2ff0cf91e152.html" target="_blank">選舉黃頁</a>，
              | 先來看看各候選人在公報上面寫的東西
            p 各候選人能得到的媒體關注程度不一，我們將訪談的紀錄整理於此，盡可能忠實呈現原音，希望能夠在選舉公報與媒體報導之外提供另外一個切入點，理解我們所擁有的選項
        div.row.intro-list
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-1.png")
            div.text-center.intro-name
              span.number 1
              span 徐耀昌
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-2.png")
            div.text-center.intro-name
              span.number 2
              span 康世儒
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-3.png")
            div.text-center.intro-name
              span.number 3
              span 江明修
          div.clearfix.visible-sm.visible-xs
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-4.png")
            div.text-center.intro-name
              span.number 4
              span 陳淑芬
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-5.png")
            div.text-center.intro-name
              span.number 5
              span 曾國良
          div.col-xs-4.col-md-2.intro-item
            div
              img.center-block(src="/imgs/candidate-1-6.png")
            div.text-center.intro-name
              span.number 6
              span 吳宜臻
      div.col-sm-1.col-md-2.block

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-1.png")
        div.content
          h1
            span.number 1
            | 徐耀昌
          ul
            li 中國國民黨
            li 第 5, 6, 7, 8 屆立法委員
            li 苗栗縣頭份鎮第 12, 13 屆鎮長
            li
              a(href="https://www.facebook.com/pages/%E5%BE%90%E8%80%80%E6%98%8C%E5%8A%A0%E6%B2%B9%E8%AE%9A/370040056424487") Facebook: 徐耀昌加油讚
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
              li 醫療照護:提升安養照護及醫療設備,配合中央一鄉鎮一日照,設立健康生活園區,達到「醫療保健零死角,安養照護全方位」目標。
              li 交通網路:儘速完成苗栗縣北橫公路通車,架構完整九宮格路網,搭配高鐵、台鐵捷運共構,打造最便利的客家山城新都市。
              li 工商科技:積極招商,引進海洋生技及綠能產業,成立台商回流「馬上辦」。
              li 活絡財政:戮力開源節流,向中央爭取財源,在地方減輕負債,達到「為縣減債、為民興利」目標。
              li 農業發展:照顧農民權利,塑造農特產品成為精緻、高品質的「苗栗品牌」,設置國際據點,提高農產價值,增加農民收益。
              li 觀光文化:形塑活力海洋,苗栗清溪川,多元文化旅遊,有機觀光農巡禮,健康休閒園區以及國際節慶活動等六大觀光主題,成立公館酒莊以及竹南啤酒城等兩大新興景點。
              li 教育規劃:落實雙語、多國語言課程;武術教育向上延伸至高中,大學;持續營養午餐以及課後安親措施,降低弱勢家庭經濟負擔。
              li 青年政策:擴大招商促進青年就業,興建社會住宅讓青年輕鬆買房。
              li 全民體育:苗北地區興建國民運動館,達到南北均衡體育發展。
              li 族群平等:創立客家品牌,發揚閩南文化、原民技藝、母語教學、豐富新移民族群文化。
              li 勞工保障:降低失業率,定期舉辦就業媒合活動,成立苗栗縣勞工保護網,接受勞工陳情,確保勞工權益不受損。
              li 社區婦幼:整合跨局處成立「苗栗縣總體營造幸福社區委員會」打造健全的幸福社區。
          div.comment
            | 圖片取自中選會選舉公報。因徐委員選務繁忙，多次聯繫後皆無法促成訪談，因此僅節錄中選會公報內容

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-2-large.jpg")
        div.content
          h1
            span.number 2
            | 康世儒
          ul
            li 無黨籍
            li 第 14, 15, 16 屆竹南鎮鎮長
            li 第 7 屆立法委員
            li
              a(href="https://www.facebook.com/Kangshihju" ) Facebook：康世儒
          div.question
            div.title
              span.title-1
                | 談到財政
              span.title-2
                | 有土斯有財
            div.hr
            div.answer
              ul
                li
                  | 節流：地區的活動交由獅子會、扶輪社等等的社團來承辦
                li
                  | 開源：從老百姓的需求開始，解決持分地等等的活化土地方式就能增加收入。
                  | 成立地價評議委員會，不用公告地價，而是根據附近的買賣地價來徵收。主張只要持分地可以處理，就可以解決財政問題
                li
                  | 在高鐵站推行複合式的商店，幫助增加收入
          div.question
            div.title
              span.title-1
                | 問經濟
              span.title-2
                | 招商並課徵營業稅
            div.hr
            div.answer
              ul
                li
                  | 要積極招商，很多工業區的土地都是荒廢的，從工業區的開發吸引外資，吸引年輕人回流。
                li
                  | 以土地免費租金為優惠條件來招商，條件是總公司要設在苗栗，營業稅才會繳給苗栗縣
          div.question
            div.title
              span.title-1
                | 觀光
              span.title-2
                | 苗栗要做臺北與台中的後花園
            div.hr
            div.answer
              ul
                li
                  | 開發三義為觀光區，作為承接南北來往旅客的中繼站。
                  | 三義的交通問題不是木雕街，所以外環道路並不會解決問題。
                  | 三義要從賣木雕轉型成文創區，可以增加客製化的生意給老師傅並深化觀光
          div.question
            div.title
              span.title-1 農耕
              span.title-2 保障契作
            div.hr
            div.answer
              ul
                li  保障契作，讓政府來決定價格徵收，避開米蟲與菜蟲的剝削
                li  為了避開風災的傷害，寧願把災後的補助，轉成事先架設網室或溫室
                li  政府投入做加工食品廠，降低農產品滯銷風險，同時增加政府財源
          div.question
            div.title
              span.title-1 醫療
              span.title-2 推動國家衛生研究院附設醫院
            div.hr
            div.answer
              ul
                li
                  | 希望推動建設衛生研究院的附設醫院，避開醫院的營運壓力，
                  | 同時吸引更多的優秀醫生進入苗栗，提昇苗栗醫療水準
          div.question
            div.title


              span.title-1 交通
              span.title-2 需解決停車問題
            div.hr
            div.answer
              ul
                li 現在的問題是都市計劃內的一些瓶頸要優先處理，好比竹南頭份的停車問題
                li 開闢新道路，若缺乏配套措施，中間的鄉鎮就會沒落
                li
                  | 關於北橫公路，能用河堤共構就儘量使用，一邊減少土地徵收的費用，
                  | 另一方面也減少某些地區沒落的問題
          div.comment
            | 圖片乃 09/24 康委員親自至煥強競選總部談訪時所攝。康委員行程滿檔，仍然堅持排出時間親自拜訪煥強，讓我們暢快地問完所有問題。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-3-large.jpg")
        div.content
          h1
            span.number 3
            | 江明修
          ul
            li 無黨籍
            li 苗栗社區大學校長
            li 中央大學客家學院院長
            li 政治大學公共行政學系教授
            li
              a(href="https://www.facebook.com/likeminshiu") Facebook：迎接新苗栗，我選江明修
          div.question
            div.title
              span.title-1 行政
              span.title-2 主張全民參政
            div.hr
            div.answer
              ul
                li 認同開放政府，應該要彙集縣民智慧，讓全民參政並一同審核預算。
          div.question
            div.title
              span.title-1 談苗栗負債
              span.title-2 從中央統籌分配款著手
            div.hr
            div.answer
              ul
                li 認為這是一個結構性問題，中央統籌款分配的方法有問題
                  | 但是我們的立法委員沒有切入改善。要爭取修法來更改其分配方法。
          div.question
            div.title
              span.title-1 關於苗栗發展
              span.title-2 邁向國際，吸引青年返鄉

            div.hr
            div.answer
              ul
                li
                  | 苗栗縣應當要國際化，引入國際的人才、資金，讓國際與地方政府對話。
                  | 同時結合工研院，吸收技術轉移，鼓勵青年返鄉創業
                li
                  | 針對社會福利，引進微型社會企業(具備社會關懷與獲利能力的公司)的創業，
                  | 解決苗栗的人口老化問題，也促成慢活城市

          div.question
            div.title
              span.title-1 談大埔案
              span.title-2 反對區段徵收
            div.hr
            div.answer
              ul
                li
                  | 針對大埔案造成的傷害，認為政府要給予補償。
                  | 江教授反對區段徵收，認為應該要重新檢討苗栗縣所有重大開發案
          div.comment
            | 圖片乃 08/02 拜訪江教授競選總部時所攝。當日允諾一週後會面，會給我們更詳細的政見說明，也許因為江教授選務繁忙，而後皆無機會再碰面。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-4-large.jpg")
        div.content
          h1
            span.number 4
            | 陳淑芬
          ul
            li 無黨籍
            li 執業律師
            li 貓貍電台「法律與生活」主持人
            li 苗栗縣榮民服務處顧問
            li 苗栗縣政府法扶顧問
            li
              a(href="https://www.facebook.com/pages/%E9%99%B3%E6%B7%91%E8%8A%AC_%E8%8B%97%E6%A0%97%E7%B8%A3%E9%95%B7%E5%80%99%E9%81%B8%E4%BA%BA/1458548061093116") Facebook：陳淑芬_苗栗縣長候選人
          div.question
            div.title
              span.title-1 參選動機
              span.title-2 保障人民財產
            div.hr
            div.answer
              ul
                li
                  | 921 地震使得部份地形移位，同時政府在施工的時候沒有按照工程圖施工，產生地籍的糾紛。
                  | 因為地政機關是縣政府所管，關係到人民財產問題，卻缺乏保障，因此刺激到陳律師出來參選
                li  陳律師關心，縣政府造成人民法律上的糾紛時，如何解決
          div.question
            div.title
              span.title-1 問財政
              span.title-2 檢視公共建設與私人業者的關係
            div.hr
            div.answer
              ul
                li 自述財政的事情一竅不通，選上的會請專業人士來處理財政
                li 有些風景區委託業者管理，但是外面公共建設的受益者也包括業者，縣政府應該檢視這一塊來增加收入
          div.question
            div.title

              span.title-1 農業
              span.title-2 媒介與活絡人力
            div.hr
            div.answer
              ul
                li 城市人需要，也願意接觸土地。媒合城市人與種田人，認養土地種植水果，照顧土地
                li
                  | 問過務農者對勞委會政策的想法：因為農忙只有一段時間，不需要引進長期工作的外勞。
                  | 應該要活絡本地因失業產生的閒置人力補足農忙的缺口
          div.question
            div.title
              span.title-1 苗栗縣的未來
              span.title-2 延續既有規劃
            div.hr
            div.answer
              ul
                li 不再開闢任何科學園區，延續既有的建設
                li 三灣、南庄、獅潭..等等，都已經是觀光地區了，不需要再發展工業
                li 我們應該跳脫功利主義，著重道德。要正法、守護法，還要兼顧民意，與人民站在一起，接受民意，與民同樂
          div.question
            div.title
              span.title-1 健全宗教組織
              span.title-2 納入法規之下管理
            div.hr
            div.answer
              ul
                li
                  | 苗栗的許多宗教團體、廟宇都不是社團法人組織，收入都不需要繳稅，
                  | 要讓那些宗教組織納入法規之下管理
                li 鼓勵宗教團體出錢支持民俗文化
          div.question
            div.title
              span.title-1 問小黨監票權想法
              span.title-2 「我被問倒了」
            div.hr
            div.answer
              ul
                li 關於《選罷法》扼殺小黨監票權的想法，陳律師坦率回答：「我被問倒了」
          div.question
            div.title
              span.title-1 社會問題與福利
              span.title-2 照顧單身與降低遺傳性疾病
            div.hr
            div.answer
              ul
                li
                  | 滿多人未婚但是年紀大，或是獨居農民，人際關係如何連結，如何照顧他們的老年，
                  | 這個區塊目前沒有社會福利，會關注如何照顧單身獨居者
                li
                  | 推行婚前健康檢查，是希望減少遺傳性疾病。
                  | 折翼天使會長大，父母會變老，希望能降低這些問題
          div.comment
            | 圖片乃 10/20 拜訪陳律師事務所。陳律師個性相當坦率，對於不理解的事情大方承認不理解。選戰靠自己一個人在打，因此媒體曝光率不高。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-5-large.jpg")
        div.content
          h1
            span.number 5
            | 曾國良
          ul
            li 無黨籍
            li 英商倫敦期貨公司台灣分公司總經理
            li 投顧公司總經理及董事長
            li 高考及格
            li 15 年證券分析師經驗
            li(style="color:#FF0000;") 天變
            li
              a(href="http://www.youtube.com/watch?v=za0qfQkErJI") Youtube：紫籌高峰會 曾國良 分析師
          div.question
            div.title
              span.title-1 福利政策
              span.title-2 免費股市資訊
            div.hr
            div.answer
              img(src="/imgs/candidate-1-5-intro-1.jpg")
              br
              ul
                li 聘請專業人士，成立苗栗證券投顧公司剖析股市資訊，苗栗縣民可獲一支免費股市資訊，提升苗栗縣民投資報酬率。
                li 設立一個平反委員會，縣民如遇不平之事有申訴的管道。
          div.question
            div.title
              span.title-1 訴求
              span.title-2 財經治縣，轉虧為盈
            div.hr
            div.answer
              ul
                li 苗栗縣目前財政狀況吃緊，縣庫赤字及潛在負債近五百億元，「沒有財經專業的人，真的做不下去」
                li 由縣府成立砂石公司，未來西湖、後龍、中港溪疏濬業務由縣府砂石公司承包，利益歸縣民共有。
                li 建設苗栗高鐵，興建摩天大樓或共構工程，打造商業城。
                li 發展科技與生化園區(並可促進就業) ，成立控股公司持有，並釋股於苗栗縣民，讓專業經理人處理，全民有利共享。
          div.question
            div.title
              span.title-1 房地政策
              span.title-2 打房是錯誤的
            div.hr
            div.answer
              ul
                li 不贊成賣土地償還債務
                li 打房是錯誤政策，會讓資金外流，應回歸市場機制。
                li 關於地目變更，只要符合公平公開原則，符合法令，即使將農地、工業用地變更成住宅、商業區也無不可。
                li 由縣府成立控股公司，先行購買法拍屋，在進行資格審查，售予受薪階級。
                li 對於頭份竹南的房價 從經濟的角度來看是因為經濟正在發展 所以房價尚屬合理。
          div.question
            div.title
              span.title-1 醫療政策
              span.title-2 建立醫療專區
            div.hr
            div.answer
              ul
                li 提升苗栗署立醫院等級，比照新竹署立醫院，引進台大或同等級醫療團隊進駐。
                li 頭份竹南可共用一個大型醫療機構，未來視情形將工業用地做一整理，闢建成醫療專區，引進大型醫療團隊。
          div.comment
            | 圖片乃 10/12 曾老師親自至煥強競選總部談訪時所攝，另一圖取自網路。白天聯絡上曾老師，晚上老師就直接到煥強的競選總部，非常有行動力。這次選戰曾老師也是一人獨自參戰。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-1-6.png")
        div.content
          h1
            span.number 6
            | 吳宜臻
          ul
            li 民主進步黨
            li 執業律師
            li 民進黨不分區立法委員
            li 行政院婦女權益促進委員會委員
            li
              a(href="https://www.facebook.com/2014voteformiaoli") Facebook：吳宜臻
          div.question
            div.title
              span.title-1 談苗栗議會
              span.title-2 支持透明化
            div.hr
            div.answer
              ul
                li 認為苗栗縣議會目前的透明度不夠，需要也支持改進
          div.question
            div.title
              span.title-1 節流之道
              span.title-2 大幅檢視經費
            div.hr
            div.answer
              ul
                li 檢視現有的經費使用方式
                li 檢視環保處理支出，減少工廠將成本轉嫁給苗栗縣民
                li 合併鄉鎮舉辦活動,減少一次性的預算消耗
                li 檢視現有的公有設施,活化再利用,減少蚊子館
          div.question
            div.title
              span.title-1 財政開源
              span.title-2 吸引招商
            div.hr
            div.answer
              ul
                li 無論如何,一定要先有廠商才有可能增加收入
                li 吸引廠商在苗栗設置總公司，繳稅回來。許多公司不願意設置，是因為苗栗公司少，容易被稽核
                li 公司設在苗栗，自然可以使得苗栗的統籌分配款增加
                li 不支持縣政府透過賣地的方式換取收入
          div.question
            div.title
              span.title-1 談交通
              span.title-2 不支持開路
            div.hr
            div.answer
              ul
                li 不支持純粹的開路，如三義外環道的沿路店家，生意就少了兩成。只剩點對點的交通，對縣民幫助不大
          div.question
            div.title
              span.title-1 基礎建設
              span.title-2 各鄉鎮需分開處理
            div.hr
            div.answer
              ul
                li 各鄉鎮情況不同，基礎設施應針對各鄉鎮評估，處理下水道或是道路等等的問題
                li 頭份有一些粉末冶金的產業，想辦法讓聚落生成之後，移出人口減少了，人口漸漸增加，才有空間規劃基礎設施
          div.comment
            | 圖片取自中選會選舉公報。內容來自 2014/08/20 吳委員的政見說明會，團隊成員於會後向委員口頭詢問整理而成。其後有尋求與吳委員訪談的機會，雖得吳委員當面允諾，或因吳委員選務繁忙，後續聯繫皆無下文。


      div.col-sm-1.col-md-2.block

    include partials/footer
    include common/vendor_js
    include common/app_js

