doctype html
html
  head
    title 頭份鎮長投給誰
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="頭份鎮長候選人政見" property="og:title">
    <meta content="http://toufen.net/vote_2.html" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/vote_og.png" property="og:image">
    <meta content="頭份鎮長選舉，你知道兩位候選人有哪些政見嗎？" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body#vote-guide.container-fluid(ng-app="toufen.net" data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    div.row.intro
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.row.text-center
          h1 2014 苗栗縣頭份鎮長選舉
          div.col-md-offset-3.col-md-6.text-left
            p
              | 地方的選舉需要關心，點擊下載<a href="http://103bulletin.cec.gov.tw/103/%E8%8B%97%E6%A0%97%E7%B8%A3/%E9%84%89%E9%8E%AE%E5%B8%82%E9%95%B7/12-%E9%A0%AD%E4%BB%BD%E9%8E%AE%E9%8E%AE%E9%95%B7.pdf" target="_blank">中選會頭份鎮長選舉公報</a>，
              | 或是查看鄉民製作的<a href="http://k.olc.tw/bulletin/546c3664-3370-43b4-a219-4187cf91e152/546c3664-3370-43b4-a219-4187cf91e152.html" target="_blank">選舉黃頁</a>，
              | 先來看看各候選人在公報上面寫的東西

            p 頭份為苗栗第一大鎮，影響力舉足輕重。這次選舉除了現任鎮長爭取連任之外，另有鎮民代表主席角逐鎮長職位。
            p 兩位候選人接到我們的邀約都非常爽快地答應，分別花了一個晚上與我們暢談對頭份的規劃，讓我們感受到了平面文宣與選舉看板所無法傳達的熱情。
        div.row.intro-list

        div.row.intro-list
          div.col-xs-4.col-md-3.col-xs-offset-2.col-md-offset-3.intro-item
            div
              img.center-block(src="/imgs/candidate-2-1.png")
            div.text-center.intro-name
              span.number 1
              span 黃盛和
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-2-2.png")
            div.text-center.intro-name
              span.number 2
              span 徐定禎
      div.col-sm-1.col-md-2.block

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-2-1-large.jpg")
        div.content
          h1
            span.number 1
            | 黃盛和
          ul
            li 中國國民黨
            li 頭份鎮民代表會主席
            li 中國國民黨頭份鎮黨部主任
            li 頭份獅子會會長
            li
              a(href="https://www.facebook.com/profile.php?id=100002403843958") Facebook：黃盛和
          div.question
            div.title
              span.title-1
                | 頭份定位
              span.title-2
                | 可促進觀光
            div.hr
            div.answer
              ul
                li 頭份的財源其實在苗栗縣非常健全，大致上頭份不會負債，可以建立觀光的路線
                li 舉例來說，蘆竹那邊以前就有推動三合院的老厝再生，應該延續該政策來促進觀光
                li 從蘆竹可以再接到尖山的米粉街，甚至再建一個碼頭觀賞中港溪口的落日，推出一條完整的觀光路線
          div.question
            div.title
              span.title-1
                | 大眾運輸
              span.title-2
                | 推廣自行車
            div.hr
            div.answer
              ul
                li 頭份不是一個都會區，如果頭份跟竹南聯合成為一個小都會區，公車業者才有機會從中獲得利潤
                li 推行免費代步腳踏車，在大路口以及公所、鎮上等等設置 ubike 的點，逐步增加
                li 外部非大馬路儘量設置自行車專用道，相信台北市的 ubike 也不一定是走在自行車專用道上，只要不是快車道的地方都有機會推行
          div.question
            div.title
              span.title-1
                | 市區停車
              span.title-2
                | 增設停車場
            div.hr
            div.answer
              ul
                li  頭份的停車問題的確很嚴重。
                li  自強路的立體停車場使用率不高，如果可以改建成開放式停車場，相信對停車問題會有幫助
                li  關於建國路：頭份的都市計劃需要重新檢討，讓忠孝、成功、建國，未來要有好的停車的地方
          div.question
            div.title
              span.title-1
                | 市區內規劃
              span.title-2
                | 活化建國花市
            div.hr
            div.answer
              ul
                li 辛苦完成的建國花市，現在的利用率不高，幾乎變成治安死角，要思考如何活化，不浪費花市
                li 主席鼓勵在地的農民直接到市場來賣，避免中盤商來賣，才不會讓花市髒亂
                li 想要在假日的時候開辦活動，有關生鮮蔬果的活動帶動人潮，讓建國路的人潮走到那邊去
                li 甚至吸引竹南、三灣的人一起過來賣，養蜂或是其他農產品也能一起來
                li 用 BOT 的方式重建中華市場
          div.question
            div.title
              span.title-1
                | 市區外規劃
              span.title-2
                | 沿北橫建立觀光帶
            div.hr
            div.answer
              ul
                li 持續興建的北橫會成為頭份、南庄的交通要道
                li 雞心壩那邊許多休耕的農田，可以跟農民談好，以休耕後的補助方式種植花海，以新社花海的模式，製造從頭份到南庄的觀光帶
                li 中港溪沒有污染之後，沿岸可以有很多的發展空間
                li 若道路增加，也許可以設置第二個交流道
          div.question
            div.title
              span.title-1
                | 振興景點
              span.title-2
                | 活化頭份後花園
            div.hr
            div.answer
              ul
                li 十二寮那邊的步道做得很好，後花園就不夠活化
                li 數年前就計劃要想辦法讓後花園成為大家願意去走的路
                li 社團申請經費的時候，同時要允諾在後花園辦一次健行活動，頭份的上百個社團加起來就可以活化後花園
          div.comment
            | 圖片乃 20140918 拜訪黃主席時拍攝。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-2-2-large.jpg")
        div.content
          h1
            span.number 2
            | 徐定禎
          ul
            li 無黨籍
            li 現任頭份鎮鎮長
            li 苗栗縣地政士公會理事長
            li
              a(href="https://www.facebook.com/profile.php?id=100004972445581") Facebook：徐定禎
          div.question
            div.title
              span.title-1
                | 頭份定位
              span.title-2
                | 有機會發展觀光
            div.hr
            div.answer
              ul
                li 傳統上頭份是工業大鎮，希望工業的比例可以慢慢降低。目前能做的是儘量減少工安事件
                li 有機會發展觀光，永和山水庫的環湖道路也是有潛力發展為很好的景點
          div.question
            div.title
              span.title-1
                | 大眾運輸
              span.title-2
                | 爭取免費接駁車
            div.hr
            div.answer
              ul
                li 目前市區停車的成本皆由頭份鎮吸收，造成市區容易壅塞，因此持續爭取市區免費接駁車，提昇大眾交通工具普及率
                li 讓接駁車行遍頭份市區，只要經過各大路口就停一下，讓鎮民不再為市區內的交通煩惱
          div.question
            div.title
              span.title-1
                | 財政
              span.title-2
                | 努力擴增財源
            div.hr
            div.answer
              ul
                li 持續推動鎮立納骨塔，同時能為頭份鎮增加收入，穩定財政
          div.question
            div.title
              span.title-1
                | 市區停車
              span.title-2
                | 舒緩車流
            div.hr
            div.answer
              ul
                li 車流太集中於部份道路，應利用週邊的道路儘量分散車流
                li 部份道路也許可以建設人行步道
          div.question
            div.title
              span.title-1
                | 市區建設
              span.title-2
                | 修建市場最優先
            div.hr
            div.answer
              ul
                li 最優先：興建中華黃昏市場
                li 修建中山市場，地下室興建為停車場
                li 中港溪修建提防，防汛道可以作為步道、單車專用道
                li 頭份運動公園即將發包作為親子公園，讓頭份鎮父母多一個可以帶孩子休憩的地方
          div.question
            div.title
              span.title-1
                | 水系
              span.title-2
                | 徹底解決淹水
            div.hr
            div.answer
              ul
                li 關於頭份的水系，想要徹底解決頭份淹水問題，將雨水、污水系統再建制
                li 目前永貞抽水站已經好了，但是機具的能力未完全發揮，希望持續改進
          div.question
            div.title
              span.title-1
                | 人文
              span.title-2
                | 增強社區連結
            div.hr
            div.answer
              ul
                li 增加志工，增強社區意識
                li 社區儘量增加老人關懷據點
                li 持續支持藝文活動
          div.question
            div.title
              span.title-1
                | 個人堅持
              span.title-2
                | 減少落款
            div.hr
            div.answer
              ul
                li 除了一些必須具名的事，拿公款所做的建設，鎮長的堅持是盡量不落款
          div.comment
            | 圖片乃 20140916 拜訪徐鎮長時拍攝。徐鎮長是個非常坦率的人，跟我們談論鎮政:w


      div.col-sm-1.col-md-2.block

    include partials/footer
    include common/vendor_js
    include common/app_js

