doctype html
html
  head
    title 頭份青年強
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    <meta content="頭份青年強" property="og:site_name">
    <meta content="頭份鎮第五選區鎮民代表政見" property="og:title">
    <meta content="http://toufen.net/vote_3-5.html" property="og:url">
    <meta content="website" property="og:type">
    <meta content="http://toufen.net/imgs/logo_og.png" property="og:image">
    <meta content="頭份鎮第五選區鎮民代表，你知道有哪些候選人嗎？" property="og:description">
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    include common/ie_js
    include common/css

    // Favicons
    link(rel='shortcut icon', href='favicon.ico')

  body#vote-guide.container-fluid(ng-app="toufen.net" data-spy='scroll', data-target='#nav-wrap')
    include partials/nav

    div.row.intro
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.row.text-center
          span.padding-h
            a.btn.btn-default(href="/vote_3-1.html") 第一選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-2.html") 第二選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-3.html") 第三選區
          span.padding-h
            a.btn.btn-default(href="/vote_3-4.html") 第四選區
          span.padding-h
            a.btn.btn-info 第五選區
        div.row.text-center
          h1 2014 苗栗頭份鎮民代表第五選區
          h3.text-info  民生  蘆竹  尖山  廣興  尖下  濫坑
          div.col-md-offset-3.col-md-6.text-left
          p
            | 我們擷取了選舉公報上的內容供您參考。也歡迎您介紹
            a(href="/vote_3-3.html") 第三選區
            | 的煥強，給朋友認識一下
        div.row.intro-list
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-5-1.png")
            div.text-center.intro-name
              span.number 1
              span 譚金榮
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-5-2.png")
            div.text-center.intro-name
              span.number 2
              span 黃炅郎
          div.col-xs-4.col-md-3.intro-item
            div
              img.center-block(src="/imgs/candidate-3-5-3.png")
            div.text-center.intro-name
              span.number 3
              span 顏展銘
      div.col-sm-1.col-md-2.block

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-5-1.png")
        div.content
          h1
            span.number 1
            | 譚金榮
          ul
            li 無黨籍
            li 第 17, 18, 19 屆鎮民代表
            li 頭份尖山國小家長會長 8 屆
            li 頭份文英國中家長會長 1 屆
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 頭份鎮民生里活動中心興建案，協助里長持續追蹤鎮公所盡快發包作業，讓裡民有休閒空間及會議場所、圖書室成為多功能活動中心
                li 促請縣政府環保局，對南六里工業(廠)空污及污水排放加強管理監督，不讓空污及污水影響里民生活品質
                li 持續向上級長官爭取南六里地方各項建設經費
                li 爭取南六里中低收入戶及弱勢團體與銀髮族福利政策
                li 積極爭取南六里各國小及國中各項建設及活動補助經費
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-5-2.png")
        div.content
          h1
            span.number 2
            | 黃炅郎
          ul
            li 無黨籍
            li 頭份鎮公所里幹事、課員、圖書館長、農業課長、民政課長等職
            li 尖山國小家長會長
            li 竹南高中文教基金會董事
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 終結派系黑金，全民清流共治，促進和諧，繁榮地方
                li 端正選風，清白參選，開創政治新局，讓下一代看到希望和未來
                li 稟持「心存善念，眾生平等」暨「心中有人民」的從政理念
                li 稟持三要三不三反的政治主張
                li
                  ul
                    li 三要：要熱誠的服務，要理性的監督，要合法的制衡
                    li 三不：不討人事，不沾工程，不搞密室分贓
                    li 三反：反同額競選，反黑金，反賄選
                li 本著「感恩心，回饋情」真心真意為鄉親犧牲奉獻
                li 積極爭取弱勢團體，中低收入各項經費外，及推動巡守隊暨環保志工隊成立，以彌補警力、村里人力不足的問題，確保社區安全與環境整潔
          div.comment
            | 圖片取自中選會選舉公報。

    div.row.people
      div.col-sm-1.col-md-2.block
      div.col-sm-10.col-md-8.block
        div.img
          img.intro(src="/imgs/candidate-3-5-3.png")
        div.content
          h1
            span.number 3
            | 顏展銘
          ul
            li 無黨籍
            li 第 17, 18 屆鎮民代表
            li 現任大自然綠化有限公司，董事長
          div.question
            div.title
              span.title-1
                | 政見
              span.title-2
                | 取自中選會公報
            div.hr
            div.answer
              ul
                li 充分反應民意，全力為民服務
                li 加強爭取整頓排水系統建設，維護鎮民安全，財產安全
                li 爭取各里社區老人文康育樂設備，充分照顧老人福利
                li 保護弱勢團體，對兒童、殘障、就醫等加強維護安全政策
                li 注重社會治安，加強家戶聯防系統，結合巡守隊協助警方打擊犯罪
                li 結合民意、監督鎮政，建立清廉效率的行政工作

          div.comment
            | 圖片取自中選會選舉公報。


      div.col-sm-1.col-md-2.block

    include partials/footer
    include common/vendor_js
    include common/app_js

