table.table
  thead
    tr
      th 名稱
      th 金額
      th 時間
      th 備註
  tbody
    tr
      td Domain name
      td 562
      td 2014/02/22
      td toufen.net 網址。僅有電子發票
    tr
      td 競選團隊背心
      td 6000
      td 2014/03/14
      td 團隊 20 件，參選人 2 件
    tr
      td T-shirt
      td 1266
      td 2014/03/14
      td 慢跑 T-shirt
    tr
      td 面紙
      td 1890
      td 2014/04/23
      td 2000 包
    tr
      td 文具
      td 543
      td 2014/04/23
      td 看板製作
    tr
      td 面紙
      td 3087
      td 2014/05/05
      td 3000 包
    tr
      td DM
      td 840
      td 2014/05/05
      td 500 份，第一次試印
    tr
      td 名片
      td 900
      td 2014/05/17
      td
    tr
      td LED 燈板
      td 1389
      td 2014/05/21
      td
    tr
      td LED 燈泡
      td 500
      td 2014/06/06
      td
    tr
      td DM
      td 600
      td 2014/06/12
      td 250 份試印
    tr
      td 面紙
      td 4200
      td 2014/06/17
      td 6000 包
    tr
      td DM
      td 3800
      td 2014/06
      td 4000 份
    tr
      td 荷葉扇
      td 15000
      td 2014/06
      td 2000 份
  tfoot
    tr.danger
      td 總花費
      td 40577
      td
      td

