table.table
  thead
    tr
      td 名稱
      td 金額
      td 時間
      td 備註
  tbody
    tr
      td Domain name
      td 680
      td
      td 無發票
    tr.warning
      td 面紙 * 2000
      td 1980
      td
      td

